﻿/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2016 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/licenses/exljbris/webfont
 *
 *
 */

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Futura Bold";
    src: url(../fonts/FuturaLTBold/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix);
    src: url(../fonts/FuturaLTBold/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix) format("eot"), url(../fonts/FuturaLTBold/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2) format("woff2"), url(../fonts/FuturaLTBold/184895ac-545b-450b-9d3a-c0a0a7620977.woff) format("woff"), url(../FuturaLTBold/fonts/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf) format("truetype"), url(../fonts/FuturaLTBold/20073de8-56dd-4e4c-9434-5097c3f2fd28.svg#20073de8-56dd-4e4c-9434-5097c3f2fd28) format("svg");
    font-weight: 700;
    font-style: normal
}

/*@font-face {
    font-family: "Futura Book";
    src: url(../fonts/FuturaLTBook/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix);
    src: url(../fonts/FuturaLTBook/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix) format("eot"), url(../fonts/FuturaLTBook/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2) format("woff2"), url(../FuturaLTBook/fonts/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff) format("woff"), url(../FuturaLTBook/fonts/c2a69697-4f06-4764-abd4-625031a84e31.ttf) format("truetype"), url(../FuturaLTBook/fonts/dc423cc1-bf86-415c-bc7d-ad7dde416a34.svg#dc423cc1-bf86-415c-bc7d-ad7dde416a34) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Futura EBold";
    src: url(../fonts/FuturaLTExtraBold/19530450-4023-4f4b-a843-f691aaa9a120.eot?#iefix);
    src: url(../fonts/FuturaLTExtraBold/19530450-4023-4f4b-a843-f691aaa9a120.eot?#iefix) format("eot"), url(../FuturaLTExtraBold/fonts/23effe05-f9b3-417b-8186-358fa1a487ba.woff2) format("woff2"), url(../fonts/FuturaLTExtraBold/4889f3e2-62f3-4272-9187-ec5c7e08b16b.woff) format("woff"), url(../fonts/FuturaLTExtraBold/3268e049-ecc8-4b01-b169-43faa731c62c.ttf) format("truetype"), url(../fonts/FuturaLTExtraBold/a92efc5a-59ec-45fd-acbe-1b18c3a0e27b.svg#a92efc5a-59ec-45fd-acbe-1b18c3a0e27b) format("svg");
    font-weight: 800;
    font-style: normal
} */

@font-face {
  font-family: 'arrow';
  src:  url('../fonts/arrow-icons/arrow-icons.eot?39sqam');
  src:  url('../fonts/arrow-icons/arrow-icons.eot?39sqam#iefix') format('embedded-opentype'),
    url('../fonts/arrow-icons/arrow-icons.ttf?39sqam') format('truetype'),
    url('../fonts/arrow-icons/arrow-icons.woff?39sqam') format('woff'),
    url('../fonts/arrow-icons/arrow-icons.svg?39sqam#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arrow' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e905";
  font-size: 9px;
}
.icon-arrow-right-circle:before {
  content: "\e900";
  font-size: 23px;
}
.icon-arrow-up:before {
  content: "\e901";
  font-size: 9px;
}
.icon-arrow-up-circle:before {
  content: "\e902";
  font-size: 23px;
}
.icon-arrow-down:before {
  content: "\e903";
  font-size: 9px;
}
.icon-arrow-down-circle:before {
  content: "\e904";
  font-size: 23px;
}

