/*********************************************************************************/

/* 1224px   */

/*********************************************************************************/
@media (max-width:1224px) {

  /* GLOBAL */
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row {
    margin-right: -20px;
    margin-left: -20px;
  }
  [class*="col-"] .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .vocus-btn {
    padding-right: 15px;
    width: auto;
    display: inline-block;
  }
  .stop-scrolling {
    padding-right: 0;
  }
  .search-section.open {
    padding-left: 0;
  }
  .page-top-cntr, .to-top-cntr {
    background-color: #f5f5f6;
  }

  /* INNER PAGE COMMON STYLES */
  .page-content-cntr {
    padding: 0 10px;
  }
  .page-left-navigation .left__nav-cntr {
    padding-left: 10px;
  }
  .page__main-content {
    padding: 25px;
  }
  .content__right {
    padding-left: 25px;
  }
  .related__links a {
    width: 100%;
  }

  /* Breadcrumb */
  .page-top-cntr {
    padding: 60px 30px;
  }

  /* Breadcrumb End */

  /* INNER PAGE COMMON STYLES END */

  /* GLOBAL END */

  /* HEADER */
  .logo-cntr {
    width: 300px;
    padding-left: 30px;
  }
  .navigation-cntr {
    width: calc(100% - 300px);
  }
  .navbar-bold > li {
    margin-right: 0;
    margin-left: 20px;
  }
  .vocus-search {
    margin-right: 10px;
  }
  .vocus-search a {
    padding: 0 10px;
  }
  header .navbar-light {
    padding-right: 10px;
  }
  header .navbar-light a {
    margin-left: 11px;
  }

  /* HEADER END */

  /* ============================== */

  /* HOME PAGE 
  /* ============================== */

  /* SLIDER */
  .carousel-container .arrows {
    bottom: 80px;
  }

  /* SLIDER END*/

  /* Info boxs */
  .info-box {
    padding: 25px 30px 40px;
  }
  .info__news-block {
    padding-right: 15px;
  }
  .info__investor-block {
    padding-left: 15px;
  }
  .info__investor-block a {
    bottom: 40px;
  }

  /* Info boxs End */

  /* Network section */
  .network__info {
    padding-left: 52px;
    margin: 0;
    width: 280px;
  }
  .network__image {
    width: calc(100% - 280px);
    padding-left: 50px;
  }

  /* Network section End */

  /* ============================== */

  /* HOME PAGE END
  /* ============================== */

  /*********************************************************************************/

  /* Brands*/

  /*********************************************************************************/

  .brand-section {
    background-color: #fff;
  }
  .brands {
    margin: 0 10px;
  }
  .brands .brands-desc {
    padding-top: 40px;
    padding-left: 0;
  }
  .brands-desc .sub-title {
    line-height: 1;
  }
  .brand-section .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .brands .brand-thumbnails {
    width: 33.33%;
    padding: 0 4px;
  }
  .brand-thumbs {
    width: 100%;
    height: 0;
  }
  .right-content-brands {
    width: 100%;
    font-size: 0;
    margin: 0 -4px;
  }
  .gallery-expander.brand-expander-main-cntr {
    margin: 0 -20px;
  }
  .brand-expander-main-cntr .gallery-expander-contents {
    padding: 0;
    width: auto;
  }
  .expander-container .vocus-btn svg {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    top: auto;
  }
  .brands .brand-thumbnails {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
  }
  .brands .brand-summary {
    width: 100%;
  }
  .right-content-brands {
    text-align: left;
  }
  .brand-summary .heading-info {
    padding-left: 0;
  }
  .heading-info .info-arrow {
    position: absolute;
    left: 0;
  }

  /*board page*/
  .member-img-wrapper img {
    width: 100%;
  }
  .gallery-expander-contents {
    padding: 0;
  }
  .board-page .find-info {
    font-size: 30px;
  }
  .news-details .find-info, .board-page .find-info {
    font-size: 15px;
  }
  .board-page .svg {
    width: 11px;
  }
  .initialization .board-main-info .board-logo {
    padding-left: 30px;
    width: 40%;
  }
  .initialization .board-main-info .text-des {
    padding-left: 30px;
  }
  .board-member-dis {
    padding-top: 25px;
  }
  .news-title.sub-title, .board-page .board-col .sub-title {
    margin-bottom: 10px;
  }

  /*********************************************************************************/

  /* Contact Us*/

  /*********************************************************************************/
  section.page-content-cntr.contact-main-cntr.clearfix {
    padding: 0;
  }
  .investor-main-content.contact-main-content {
    margin: 0;
  }
  .contact-enquiry .enquiry-title.sub-title__big {
    padding-left: 20px;
    line-height: 1.2;
  }
  .thumbnail-section .enquiry-title {
    padding-left: 20px;
  }
  .thumbnail-section .sub-title__big {
    line-height: 1.2;
  }
  .thumbnail-section .compliment-title .enquiry-title {
    padding-left: 20px;
  }
  .contact-summary {
    padding-left: 0;
  }
  .media-page {
    padding: 0;
  }
  .media-page > .row {
    margin: 0 -4px;
  }
  .contact-enquiry .enquiry-section {
    padding-left: 0;
  }

  /*-----SEARCH RESULT -----*/
  .search-result .search-left {
    width: auto;
    margin-right: 40px;
  }
  .search-result .page-top-cntr {
    padding: 40px 30px;
  }
}

/*********************************************************************************/

/* 1024px     */

/*********************************************************************************/
@media (max-width:1024px) {

  /*-----BRANDS-----*/
  .brands .brand-thumbnails {
    width: 33.33%;
  }

  /*-----CONTACT US-----*/
  .links-list-cntr.links-list__horizontal .link-small {
    width: 60.47%;
  }
  .investors__summary-cntr .summary {
    width: 50%;
    margin-bottom: 40px;
  }
  .summary__webcast {
    padding-left: 40px;
  }
  .contact-thumbnails .contact-item > a {
    padding: 10px;
  }

  /*-----SEARCH SECTION-----*/
  .search-section .container {
    width: 98%;
  }
  .annual-report-btn .vocus-btn {
    width: 220px;
  }
  .related__links a::before, .block-links-list ul li a::before, .vocus-btn::before {
    display: none;
  }
}

/*********************************************************************************/

/* 1020px - 801px     */

/*********************************************************************************/
@media (max-width: 1020px) and (min-width: 801px) {
  .related__links .vocus-btn span {
    font-size: 10px;
  }
  .related__links .vocus-btn svg {
    margin-right: 2px;
  }
  .related__links a {
    padding-left: 5px;
    padding-right: 0;
  }
}

/*********************************************************************************/

/* 800px     */

/*********************************************************************************/
@media (max-width:800px) {

  /* GLOBAL */
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }
  .sub-title {
    font-size: 30px;
    line-height: 1.2;
  }
  .vocus-btn {
    width: 425px;
    font-size: 26px;
    height: 82px;
    line-height: 82px;
    padding-left: 30px;
  }
  .vocus-btn svg {
    width: 18px;
    margin-right: 20px;
  }
  .vocus-btn span {
    line-height: 85px;
  }
  .big-para {
    font-size: 36px;
    line-height: 1.3;
  }
  .page__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .link-small, .sub-title__small {
    font-size: 24px;
  }
  .overlay_container_menu {
    display: none;
  }
  .main-content p img {
    width: 100%;
  }

  /* INNER PAGE COMMON STYLES */
  .page-content-cntr, .page-left-navigation, .page-right-content {
    padding: 0;
  }
  .page-top-cntr {
    padding: 39px 30px 99px;
  }
  .page-left-navigation, .page__breadcrumb {
    display: none;
  }
  .page__main-content {
    padding: 25px 30px 100px;
  }
  .page-right-content {
    width: 100%;
    float: none;
  }
  .content__left {
    width: 100%;
  }
  .content__right {
    width: 100%;
    padding-left: 0;
    clear: both;
  }
  .main-content p {
    font-size: 26px;
    line-height: 1.3;
  }
  .main-content .big-para {
    padding: 0;
  }
  .accordion-wrap .sub-title {
    font-size: 24px;
  }
  .content__top {
    margin-bottom: 50px;
  }
  .full-width-content {
    margin-top: 0;
  }
  .related-content-cntr {
    width: 100%;
    margin-top: 50px;
  }
  .related-content-cntr h3 {
    font-size: 30px;
    border: 0;
    line-height: 1.2;
  }
  .related-content-cntr ul {
    margin-top: 40px;
  }
  .related-content-cntr ul li {
    margin-bottom: 7px;
  }
  .related-content-cntr ul li:last-child {
    margin-bottom: 0;
  }
  .sub-title__big {
    font-size: 42px;
    line-height: 1.2;
  }
  .link-small {
    font-size: 24px;
    line-height: 1;
  }
  .links-list-cntr ul li {
    width: 100%;
  }
  .links-list-cntr li:nth-child(odd), .links-list-cntr li:nth-child(even) {
    padding: 0;
  }
  .link-item {
    padding: 16px 0;
    border-width: 2px;
  }
  .links-list-cntr .link-small, .links-list-cntr.links-list__horizontal span.link-small {
    font-size: 24px;
    width: 100%;
    padding-right: 48px;
    line-height: 1.2;
  }
  .links-list-cntr a span.pdf-text {
    font-size: 20px;
    line-height: 1;
  }
  .links-list-cntr.links-list__horizontal a .pdf-text span {
    display: inline-block;
    float: left;
    margin-right: 3px;
  }
  .accordion-wrap .links-list-cntr.links-list__horizontal li:first-child .link-item, .links-list-cntr.links-list__horizontal .link-item {
    border-width: 2px;
  }
  .links-list-cntr.links-list__horizontal .pdf-text {
    width: 100%;
    padding-right: 15px;
    margin-top: 10px;
  }
  .link-item a svg, .link-item a img, .link-item .link-list-icon, .links-list-cntr.links-list__horizontal .link-item a img, .links-list-cntr.links-list__horizontal .link-item a svg, .links-list-cntr.links-list__horizontal .link-item a .link-list-icon, .news-page-list .links-list-cntr.links-list__horizontal .link-item a .link-list-icon {
    width: 48px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -24px;
  }
  .icon-arrow-down-circle:before {
    font-size: 48px;
  }
  .links-list-cntr li:first-child .link-item, .links-list-cntr.links-list__horizontal li:first-child .link-item, .border-adjust .links-list-cntr.links-list__horizontal li:first-child .link-item {
    border-top: 2px solid #9c9b99;
  }
  .link-item a {
    padding: 0;
  }

  /* INNER PAGE COMMON STYLES END */

  /* GLOBAL END */

  /* HEADER */
  header {
    position: relative;
  }
  .mobile-hamburger {
    vertical-align: top;
    margin-left: 20px;
  }
  .logo-cntr {
    padding: 0;
    width: auto;
    margin-left: 30px;
    padding-top: 44px;
    padding-bottom: 39px;
    float: left;
  }
  .logo-cntr img {
    width: 300px;
  }
  .navigation-cntr {
    width: auto;
    float: right;
    position: static;
    margin-right: 10px;
  }
  header .navbar-light {
    display: none;
  }
  .vocus-search {
    margin: 0;
  }
  .header-icons-cntr {
    margin-top: 35px;
    position: absolute;
    right: 30px;
  }
  .vocus-search img {
    width: 38px;
    margin: 0;
  }
  .vocus-search .search-icon span {
    display: none;
  }
  a.hamburger-icon {
    padding: 0;
    margin-top: 7px;
  }
  .navbar-bold {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 99;
    background: #fff;
    border-top: 2px solid #114b95;
    z-index: 1001;
    text-align: left;
    padding: 30px;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
  }
  .navbar-bold > li {
    margin: 0;
    display: block;
    padding: 0;
  }
  .navbar-bold > li:last-child {
    margin: 0;
  }
  .navbar-bold > li > a {
    font-size: 30px;
    line-height: 1;
    padding-bottom: 30px;
    display: block;
  }
  .navbar-bold > li > a::after {
    display: none;
  }
  .navbar-bold > li > a span {
    display: inline-block;
    position: relative;
  }
  .navbar-bold > li > a span::after {
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    background: #114b95;
    position: absolute;
    bottom: -15px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .toggle-sub-nav {
    float: right;
    font-weight: bold;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar-bold > li > a.active {
    color: #114b95;
  }
  .navbar-bold > li > a.active .toggle-sub-nav {
    color: #114b95;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .navbar-bold > li > a.active > span::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  .nav-dropdown {
    opacity: 1;
    visibility: visible;
    position: relative;
    padding: 30px;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    display: none;
  }
  .nav-dropdown a {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;
  }
  .mega-menu-content .drop__child-links ul, .mega-menu-content.investorsMainPage .drop__child-links > ul, .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column:last-child {
    padding-left: 0;
  }
  .mega-menu-content.sustainabilityReportMenu, .mega-menu-content.investorsMainPage {
    width: 100%;
  }
  .mega-menu-content .drop__annual-report, .mega-menu-content .drop__child-links {
    width: 100%;
  }
  .mega-menu-content .drop__annual-report {
    display: none;
  }
  .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column, .mega-menu-content.investorsMainPage .drop__child-links, .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a {
    width: 100%;
    display: block;
  }
  .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a, .mega-menu-content.investorsMainPage .drop__child-links:last-child > span {
    font-size: 30px;
    line-height: 1;
    border-width: 2px;
    margin-left: 0;
  }
  .mega-menu-content.investorsMainPage .drop__child-links:last-child > span {
    margin-right: 0;
    padding-bottom: 7px;
  }
  .mega-menu-content.investorsMainPage .drop__child-links:last-child > span a {
    margin-bottom: 0;
  }
  .mega-menu-content.investorsMainPage .drop__child-links:last-child > span {
    margin-bottom: 30px;
  }
  .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column {
    margin-bottom: 30px;
  }
  .mega-menu-content.investorsMainPage .drop__child-links ul .child-nav-column .sublevel {
    display: none;
    padding: 10px 0 0;
  }
  .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a.active {
    border-color: #114b95;
  }
  .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a.active .toggle-sub-nav {
    color: #114b95;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* HEADER END */

  /* ============================== */

  /* HOME PAGE 
  /* ============================== */

  /* Slider */
  .slides, .slide, .columns, .big-header {
    height: 550px;
  }
  .slides h1, .slide h1 {
    padding-top: 80px;
    padding-left: 30px;
    max-width: 90%;
    font-size: 40px;
  }

  /* Slider End */

  /* Info boxs */
  .homepage-info-cntr {
    margin: 0;
  }
  .info-box {
    display: block;
    width: 100%;
    padding: 45px 30px 100px;
  }
  .info__infrastructure h2 {
    max-width: 100%;
  }
  .info__infrastructure p {
    font-size: 36px;
    line-height: 1.2;
  }
  .info__infrastructure a {
    margin-top: 40px;
  }
  .info__news-block, .info__investor-block {
    display: block;
    width: 100%;
    font-size: 30px;
    line-height: 1.2;
  }
  .info__news-block {
    padding-right: 0;
  }
  .news-list-cntr {
    padding-top: 20px;
  }
  .news-list-cntr li {
    padding: 20px 0;
    border-width: 2px;
  }
  .news-list-cntr li a {
    line-height: 1.2;
  }
  .news-list-cntr li a h4 {
    max-width: 65%;
  }
  .news-list-cntr li a svg {
    width: 22px;
  }
  .news-list-cntr li span {
    font-size: 26px;
  }
  .info__investor-block {
    padding: 0;
    margin-top: 95px;
  }
  .info__investor-block p {
    padding-top: 15px;
  }
  .info__investor-block a {
    position: relative;
    bottom: 0;
    margin-top: 40px;
  }
  .links-list-cntr.links-list__horizontal .year-date-text {
    width: 100%;
    text-align: left;
    font-size: 24px;
    line-height: 1;
    padding-right: 48px;
  }

  /* Info boxs End */

  /* Network */
  .network__info, .network__image {
    width: 100%;
    padding: 0;
  }
  .homepage-network-cntr {
    margin: 0;
    padding: 45px 30px 40px;
  }
  .network__info p {
    font-size: 30px;
    line-height: 1.2;
  }
  .network__info a {
    margin-top: 40px;
  }
  .network__image {
    margin-top: 30px;
  }
  .btn__find-more-network span {
    margin-left: 3px;
  }

  /* Network End */

  /* To Top */
  .to-top-cntr {
    padding: 25px 0 20px 0;
  }
  .to-top-cntr a span {
    font-size: 26px;
    line-height: 30px;
  }
  .to-top-cntr a i::before {
    font-size: 30px;
  }

  /* To Top End */

  /* ============================== */

  /* HOME PAGE END
  /* ============================== */

  /* ============================== */

  /* ABOUT PAGES
  /* ============================== */

  /* BUSINESS TODAY */
  .about-icons-list li {
    width: 100%;
  }
  .about-icons-list li:nth-child(odd), .about-icons-list li:nth-child(even) {
    padding: 0;
  }
  .about-icons-list li:nth-child(-n+2) .about-item {
    border-top: 0;
  }
  .about-icons-list li:first-child .about-item {
    border-top: 1px solid #9c9b99;
  }
  .about-item {
    padding: 20px 0;
  }
  .about-item span {
    font-size: 26px;
    line-height: 1.2;
  }
  .full-width-content ol, .full-width-content p {
    font-size: 26px;
    line-height: 1.3;
  }
  .full-width-content ol {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
  }
  .business-today-final {
      font-size: 26px;
      line-height: 1.3;
  }

  /* BUSINESS TODAY END */

  /* HISTORY */
  .img-cntr img {
    width: 100%;
  }

  /* HISTORY END */

  /* VALUES */
  .values-list-cntr {
    margin-top: 20px;
  }
  .value__item {
    margin: 0 -30px;
    padding: 30px;
  }
  .value__item:last-child {
    padding-bottom: 30px;
    border-bottom: 3px solid #f5f5f6;
  }
  .value__item-image {
    max-width: 200px;
  }
  .value__item-content {
    max-width: 100%;
    padding-left: 50px;
  }

  /* VALUES END */

  /* NETWORK */
  .value__section ul {
    font-size: 26px;
    line-height: 1.3;
  }
  .value__section {
    border-width: 2px;
  }

  /* NETWORK END */

  /* ============================== */

  /* ABOUT PAGES END
  /* ============================== */

  /* ============================== */

  /* SUSTAINABILITY PAGES
  /* ============================== */

  /* GIVING */
  .sustanibility-giving-cntr ul li {
    font-size: 26px;
    line-height: 1.3;
  }
  .sustanibility-giving-cntr ul li::before {
    height: 2px;
    top: 14px;
  }

  /* GIVING END */

  /* ============================== */

  /* SUSTAINABILITY PAGES END
  /* ============================== */

  /* ============================== */

  /* Investors PAGES
  /* ============================== */

  /* INVESTOR LANDING */
  .investors__summary-cntr .desktop {
    display: none;
  }
  .investor-navigation-cntr.mobile, .investors__summary-cntr .mobile {
    display: block;
  }
  .hidden-desktop {
    display: block;
  }
  .investor-main-content, .investors__summary-cntr {
    margin: 0;
  }
  .investor-main-content .sub-title__big {
    padding-left: 30px;
    margin-bottom: 40px;
  }
  .investor-main-content {
    padding: 30px 0 0;
  }
  .investors__summary-cntr .summary {
    width: 100%;
    padding: 42px 30px 100px;
    margin-bottom: 0;
  }
  .summary__details > h2 {
    margin-bottom: 40px;
  }
  .bb-10 {
    border-bottom: 10px solid #f5f5f6;
  }
  .investor-sub-title {
    font-size: 32px;
    padding: 0 30px;
    margin-bottom: 25px;
  }

  /* Summary shares */
  .summary__latest-shares {
    padding-left: 0;
  }
  .share__note-info, .share-detail-cntr {
    max-width: 100%;
    font-size: 26px;
    line-height: 1.3;
  }
  .share__note-info {
    padding-left: 20px;
  }
  .sup-bold {
    font-size: 66px;
  }
  .sup-bold sup {
    font-size: 30px;
    top: -23px;
  }
  .sup-bold .text-medium {
    font-size: 30px;
    margin-left: 10px;
  }
  .share__info span {
    font-size: 30px;
  }
  .share__info-image {
    width: 30px;
  }
  .share__info {
    padding-left: 35px;
    margin-top: 20px;
  }
  .share__update-info {
    font-size: 26px;
    margin-top: 40px;
  }

  /* Summary shares end */

  /* Investors navigation */
  .investor-navigation-cntr, .investor__navigation-block.block-shareholding, .investor__navigation-block.block-performance {
    margin: 0;
    padding: 0;
  }
  .investor-navigation-cntr {
    border-bottom: 10px solid #f5f5f6;
  }
  .investor__navigation-block {
    padding: 0;
    width: 100%;
  }
  .title-medium {
    font-size: 30px;
    line-height: 1.2;
  }
  .investor__block {
    padding: 42px 30px 100px;
  }
  .investor__block h2 {
    margin-bottom: 44px;
  }
  .block-links-list ul {
    margin: 0;
  }
  .block-links-list ul li {
    font-size: 24px;
    width: 100%;
    padding: 0;
    margin-bottom: 4px;
  }
  .block-links-list ul li:last-child {
    margin-bottom: 0;
  }
  .block-links-list ul li a {
    height: 90px;
    padding: 15px 12px;
  }
  .block-links-list ul li a span {
    font-size: 24px;
    line-height: 1;
  }
  .block-links-list ul li a svg {
    width: 17px;
    margin-right: 10px;
    height: 17px;
  }

  /* Investors navigation end */

  /* Key dates */
  .summary__key-dates {
    padding: 0;
  }
  .key__item .link-small {
    line-height: 1;
  }
  .bold-small {
    font-size: 20px;
    margin-top: 5px;
    display: block;
  }
  .key__item, .key__item:last-child {
    border-width: 2px;
  }
  .key__item {
    padding: 19px 0;
  }

  /* Key dates end*/

  /* Webcast */
  .summary__webcast {
    padding: 0;
  }
  .webcast-detail-cntr > span {
    font-size: 26px;
    max-width: 100%;
    line-height: 1.3;
  }
  .webcasts-list-cntr {
    width: 100%;
    margin-top: 45px;
  }
  .webcast-item a span.link-small {
    max-width: 60%;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .link-item a span.pdf-text, .links-list-cntr .date-text {
    font-size: 24px;
    line-height: 1.2;
  }
  .link-item a span {
    display: inline-block;
  }
  .webcasts-list-cntr {
    border-width: 0;
  }
  .webcasts-list-cntr .link-item {
    padding: 19px 0;
  }
  .icon-arrow-right-circle:before {
    font-size: 48px;
  }
  .webcast-item a .link-list-icon, .webcasts-list-cntr .links-list-cntr .link-item .link-list-icon {
    bottom: auto;
    top: 50%;
  }

  /* Webcast end */

  /* Shareholder */
  .summary__shareholders {
    padding: 0;
  }

  /* Shareholder end */

  /* Services */
  .service__section {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 80px;
    max-width: 88%;
  }
  .service__section:last-child {
    margin-bottom: 0;
  }
  .service__section .sub-title {
    margin-bottom: 20px;
  }

  /* Services end */

  /* INVESTOR LANDING END*/

  /* DIVIDENDS AND TAX */
  .table__content table thead th, .five-year-history .table__content table thead th {
    font-size: 20px;
    padding: 15px 20px;
  }
  .table__content table thead th, .five-year-history .table__content table thead th:first-child {
    padding-left: 0;
  }
  .table__content table tbody tr td, .five-year-history .table__content table tbody tr td {
    font-size: 26px;
    line-height: 1;
    padding: 15px 20px;
  }
  .five-year-history .table__content table tbody tr td:first-child {
    padding-left: 0;
  }

  /* DIVIDENDS AND TAX END */

  /* DIVIDEND REINVESTMENT PLAN */
  .reinvestment-plans-list {
    margin-top: 150px;
  }

  /* DIVIDEND REINVESTMENT PLAN END */

  /* ANNUAL GENERAL MEETING */
  .accordion, .accordion-wrap > .accordion:first-child {
    font-size: 42px;
    padding: 27px 10px 27px 0;
    border-width: 2px;
  }
  .accordion:after {
    width: 24px;
    height: 15px;
    top: 50%;
    margin-top: -7.5px;
    right: 10px;
  }

  /* ANNUAL GENERAL MEETING END */

  /* SHAREHOLDER REWARDS */
  .shareholder-top-cntr ul li {
    font-size: 26px;
    line-height: 1.3;
  }
  .shareholder-bottom-cntr ol {
    padding: 0;
    font-size: 26px;
    line-height: 1.3;
    margin-left: 30px;
  }

  /* SHAREHOLDER REWARDS END */

  /* SHARE PRICE */
  .price__items-list .price__item {
    font-size: 26px;
    padding: 20px 0;
    line-height: 1;
  }
  .price__items-list .price__item .price__title {
    width: 40%;
  }
  .triangle-down {
    border-width: 20px 10px 0 10px;
  }
  .triangle-up {
    border-width: 0 10px 20px 12px;
  }
  .data-info-cntr span, .nasdaq-chart-cntr span {
    font-size: 20px;
    line-height: 1;
  }

  /* SHARE PRICE END */

  /* ANNUAL REPORT */
  .annual-report-btn .vocus-btn, .annual-report-btn .vocus-btn:first-child {
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .annual-report-btn .vocus-btn span {
    line-height: 80px;
  }
  .annual-report-btn .vocus-btn .icon-arrow-right:before {
    font-size: 20px;
  }

  /* ANNUAL REPORT END */

  /* ============================== */

  /* Investors PAGES END
  /* ============================== */

  /* ============================== */

  /* PRIVACY STATEMTNT PAGE
  /* ============================== */
  .investor-main-content.privacy-main-content {
    padding-bottom: 30px;
  }
  .privacy-content {
    padding: 0 30px;
    font-size: 26px;
    line-height: 1.3;
  }
  .privacy-content h1, .privacy-content h2, .privacy-content h3, .privacy-content .sub-title__big, .privacy-content .sub-title, .privacy-content .page__title {
    padding: 0;
  }
  .privacy-content ul li {
    padding-left: 25px;
  }
  .privacy-content ul li::before {
    height: 8px;
    width: 8px;
    top: 10px;
  }
  .privacy-content ol, ol {
    margin-left: 25px;
  }

  /* ============================== */

  /* PRIVACY STATEMTNT PAGE END
  /* ============================== */

  /*-----CONTACT US-----*/
  .contact-top, .contact-bottom {
    padding: 0 30px;
  }
  .contact-enquiry .col-md-3, .contact-enquiry .col-md-9 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-enquiry .enquiry-title.sub-title__big {
    font-size: 42px;
    padding-left: 0;
  }
  .contact-enquiry .col-md-9 > .col-md-6 {
    padding: 0;
    width: 100%;
  }
  .thumbnail-section .enquiry-title {
    padding-left: 0;
    width: 100%;
  }
  .thumbnail-section .contact-thumbnails {
    width: 100%;
    padding-left: 0;
  }
  .thumbnail-section .sub-title__big {
    font-size: 42px;
    padding-left: 0;
  }
  .thumbnail-section .compliment-title .enquiry-title {
    padding-left: 0;
  }
  .contact-summary {
    padding-right: 10px;
  }
  .contact-summary .info-arrow {
    font-size: 26px;
    display: block;
  }
  .contact-summary svg {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    float: left;
  }
  .enquiry-section h4 {
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  .enquiry-section p {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 25px;
  }
  .enquiry-section  a {
    font-size: 26px;
    line-height: 1.3;
  }
  .contact-summary span {
    display: block;
    overflow: hidden;
  }
  .thumbnail-section .compliment-title {
    width: 100%;
    padding: 0;
  }
  .contact-thumb-list-cntr {
    margin: 0 -15px;
  }
  .contact-thumbnails .contact-item {
    padding: 0 15px;
    width: 50%;
  }
  .contact-enquiry {
    padding-bottom: 80px;
  }
  .thumbnail-section .col-md-9.contact-thumbnails {
    font-size: 0;
  }
  .contact-thumbnails > div {
    float: none;
    vertical-align: top;
  }

  /*********************************************************************************/

  /*  Brands     */

  /*********************************************************************************/
  .brands .brand-thumbnails {
    width: 50%;
    padding: 0 15px;
  }
  .right-content-brands {
    margin: 0 -15px;
    width: auto;
    float: none;
  }
  .brands .brand-summary {
    padding: 0;
  }
  .brand-expander-main-cntr .gallery-expander-contents .gallery-trigger-close {
    padding-right: 30px;
    font-size: 18px;
  }
  .brand-expand-wrapper {
    padding-top: 30px;
  }
  .brand-expander-main-cntr .gallery-expander-contents .brand-logo {
    width: 40%;
    padding-left: 30px;
  }
  .brand-expander-main-cntr .gallery-expander-contents .brand-desc-cntr {
    width: 60%;
    padding-right: 30px;
  }
  .expander-container p {
    max-width: inherit;
  }
  .brand-expander-main-cntr .expander-container .vocus-btn {
    width: auto;
    padding-right: 20px;
    margin-top: 25px;
  }
  .brands .brands-desc {
    line-height: 1;
    padding: 45px 0 60px;
    float: none;
    width: auto;
  }
  .brands .brands-desc h5 {
    font-size: 42px;
    line-height: 1.2;
    margin: 0;
  }
  .brands-desc .sub-title {
    line-height: 1;
  }
  .brand-summary .heading-info {
    padding-left: 0;
  }
  .heading-info .info-arrow {
    left: 0;
  }
  .expander-container .text-des {
    width: 60%;
  }
  .expander-container .text-des p {
    font-size: 15px;
    padding: 0;
    max-width: 90%;
  }
  .board-expand-wapper .gallery-trigger-close {
    padding-right: 30px;
    font-size: 18px;
  }
  .ourboard .board-expand-wapper img {
    max-height: 300px;
  }
  .expander-container .vocus-btn {
    width: 250px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
  }
  .expander-container .vocus-btn span {
    line-height: 50px;
  }
  .expander-container .vocus-btn svg {
    width: 12px;
    margin-right: 10px;
  }
  .expander-container .vocus-btn {
    margin-top: 15px;
  }
  .right-content-brands .gallery-expander {
    margin: 0 -20px;
  }

  /*********************************************************************************/

  /*  Footer     */

  /*********************************************************************************/
  .footer-img {
    display: none;
  }
  .footer-wrap {
    padding-bottom: 50px;
  }
  .footer-widget {
    width: 100%;
    padding: 0;
  }
  .footer-logo-cntr a {
    font-size: 42px;
    margin-bottom: 45px;
  }
  .footer-widget ul {
    margin-bottom: 45px;
  }
  .footer-widget ul li a {
    font-size: 20px;
    line-height: 45px;
  }
  .footer-bottom {
    margin-top: 35px;
  }
  .copyright {
    font-size: 20px;
    line-height: 1.2;
  }

  /*board page*/
  .ourboard-wrapper {
    margin: 0;
  }
  .initialization .col-lg-3, .initialization .col-md-6, .initialization .col-sm-12 {
    padding: 0;
  }
  .board-text {
    margin: 45px 80px 30px 40px;
  }
  .initialization.board-page .col-lg-3 {
    padding: 0 15px;
  }
  .initialization.board-page .col-lg-3:first-child {
    width: 100%;
  }
  .board-page .page-title {
    padding: 45px 15px 90px 15px;
    font-size: 42px;
    line-height: 1.2;
  }
  .links-list-cntr.links-list__horizontal .pdf-text {
    width: 100%;
    padding-right: 48px;
    margin-top: 10px;
  }
  .board-page .board-col, .board-col {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
  .member-img-wrapper img {
    width: 100%;
  }
  .initialization .col-lg-3, .initialization .col-md-6, .initialization .col-sm-12 {
    position: static;
  }
  .board-logo {
    padding-left: 0;
  }
  .board-page .gallery-item {
    margin-bottom: 0;
    padding: 0;
  }
  .news-title.sub-title, .board-page .board-col .sub-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .member-post-wrap {
    min-height: 80px;
    max-height: 80px;
  }
  .news-details .find-info, .board-page .find-info {
    font-size: 18px;
  }
  .ourboard .find-info svg {
    height: 14px;
    width: 16px;
  }
  .member-post {
    font-size: 18px;
  }
  .memb-details {
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 60px;
  }
  .initialization.board-page .col-lg-3, initialization.board-page .col-md-6 {
    width: 50%;
  }
  .heading-info .sub-title {
    font-size: 20px;
    min-height: 50px;
    overflow: hidden;
  }
  .brands .sub-title {
    line-height: 1.2;
  }
  .right-content-brands .heading-info p {
    font-size: 18px;
    line-height: 1.3;
    max-height: 68px;
    min-height: 68px;
    overflow: hidden;
  }
  .heading-info .info-arrow {
    font-size: 18px;
    position: relative;
    vertical-align: top;
    bottom: auto;
    margin-top: 5px;
  }
  .brand-summary .heading-info {
    height: auto;
    padding-top: 28px;
    padding-right: 10px;
    padding-bottom: 60px;
  }
  .heading-info svg {
    width: 14px;
    margin-right: 12px;
    height: 16px;
  }
  .brand-summary .heading-info svg {
    position: relative;
    top: 2px;
  }
  .heading-info p {
    max-height: 60px;
    overflow: hidden;
  }

  /* News Page */
  .news-small-title {
    border-width: 2px;
  }
  .news-small-title a span {
    font-size: 24px;
    line-height: 48px;
  }
  .news-date {
    font-size: 24px;
    line-height: 1;
  }
  .news-page-list .link-item {
    max-width: 100%;
  }
  .news-page-list .links-list-cntr.links-list__horizontal .link-item a span {
    padding-top: 0;
  }
  .news-page-list .link-item {
    border-top: 2px solid #9c9b99 !important;
  }
  .news-page-list .links-list-cntr.links-list__horizontal .link-small {
    margin-top: 0;
  }

  /* News Page End */

  /* Media Page */
  .media-page {
    padding: 0 30px;
  }
  .media-page > .row {
    margin: 0 -15px;
  }
  .media-page .media-item {
    padding: 0 15px;
  }
  .news-details {
    padding-left: 0;
    padding-top: 28px;
    padding-right: 10px;
    padding-bottom: 60px;
  }
  .news-details .news-title.sub-title {
    min-height: 50px;
    max-height: inherit;
  }
  .media-epxander-main-cntr .gallery-expander-contents {
    padding: 0;
    border-width: 10px;
  }
  .news-details .find-info svg {
    width: 14px;
    margin-right: 12px;
    height: 16px;
    position: relative;
    top: 2px;
  }
  .media-epxander-main-cntr .expandable {
    padding-bottom: 35px;
  }
  .media-epxander-main-cntr .gallery-trigger-close {
    font-size: 18px;
    padding-right: 30px;
  }
  .expander-container.news-media-container {
    padding-top: 30px;
  }
  .media-expand-wrapper {
    display: block;
  }
  .media-expand-wrapper .media-item-cntr, .media-expand-wrapper .media-info-cntr {
    width: 100%;
    float: none;
    padding: 0 30px;
  }
  .expandable-box-img, .expandable-box-info {
    float: none;
  }
  .news-media-container .media-expand-wrapper .expandable-box-img, .news-media-container .expandable-box-info {
    padding-left: 0;
  }
  .media-expand-wrapper .media-info-cntr {
    margin-top: 20px;
  }
  .media-expand-wrapper .expandable-box-info p {
    font-size: 26px;
    line-height: 1.3;
  }

  /* Search Page */
  .search-result .search-left {
    margin: 0 0 50px;
  }
  .investor-main-content.search-main-content.search-result {
    padding-bottom: 40px;
  }
  .search-pagination {
    margin-left: 30px;
  }
  .search-result h5 > a {
    font-size: 30px;
    line-height: 1.2;
  }
  .search-result .search-heading {
    margin-left: 30px;
  }
  .search-content {
    border-width: 2px;
  }
  .search-content h5, .search-content p {
    margin: 0 30px;
  }
  .search-content h5 {
    margin-bottom: 25px;
  }
  .search-content p {
    font-size: 26px;
    line-height: 1.3;
  }
  .search-pagination li > a {
    font-size: 26px;
  }
}

/*********************************************************************************/

/* 600px     */

/*********************************************************************************/
@media (max-width:600px) {

  /* GLOBAL */
  .vocus-btn {
    width: 250px;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
  }
  .vocus-btn svg {
    width: 12px;
    margin-right: 10px;
    position: relative;
  }
  .vocus-btn span {
    line-height: 52px;
  }
  .sub-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .page__title {
    font-size: 30px;
  }
  .big-para {
    font-size: 16px;
  }
  .sub-title__big {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .sub-title__small {
    font-size: 16px;
  }

  /* INNER PAGE COMMON STYLES */
  .page-top-cntr {
    padding: 41px 20px 61px;
  }
  .page__main-content {
    padding: 25px 20px 40px;
  }
  .accordion-wrap .sub-title {
    font-size: 18px;
  }
  .links-list-cntr.links-list__horizontal .link-small, .links-list-cntr .link-small, .links-list-cntr .link-small, .links-list-cntr.links-list__horizontal span.link-small {
    font-size: 16px;
    width: 100%;
    padding-right: 32px;
  }
  .links-list-cntr.links-list__horizontal .pdf-text, .links-list-cntr .pdf-text, .links-list-cntr a span.pdf-text, .links-list-cntr .date-text, .links-list-cntr.links-list__horizontal .year-date-text {
    font-size: 14px;
    padding-right: 32px;
  }
  .links-list-cntr .date-text {
    padding-right: 0;
  }
  .main-content .big-para, .main-content p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  .content__top {
    margin-bottom: 35px;
  }
  .full-width-content {
    margin-top: 0;
  }
  .related-content-cntr {
    margin-top: 40px;
  }
  .related-content-cntr h3 {
    font-size: 20px;
  }
  .related-content-cntr ul {
    margin-top: 10px;
  }
  .related-content-cntr ul li {
    margin-bottom: 5px;
  }
  .link-item {
    padding: 10px 0;
  }
  .link-item a svg, .link-item a img, .link-item .link-list-icon, .links-list-cntr.links-list__horizontal .link-item a img, .links-list-cntr.links-list__horizontal .link-item a svg, .links-list-cntr.links-list__horizontal .link-item a .link-list-icon, .news-page-list .links-list-cntr.links-list__horizontal .link-item a .link-list-icon {
    width: 32px;
    margin-top: -16px;
  }
  .icon-arrow-down-circle:before {
    font-size: 32px;
  }
  .links-list-cntr.links-list__horizontal .pdf-text, .links-list-cntr .pdf-text, .links-list-cntr.links-list__horizontal .year-date-text {
    margin-top: 5px;
  }
  .links-list-cntr.links-list__horizontal .link-small, .links-list-cntr .link-small {
    padding-right: 36px;
  }

  /* INNER PAGE COMMON STYLES END */

  /* GLOBAL END*/

  /* HEADER */
  .logo-cntr {
    padding-top: 30px;
    padding-bottom: 24px;
    margin-left: 20px;
  }
  .logo-cntr img {
    width: 200px;
  }
  .header-icons-cntr {
    margin-top: 25px;
    right: 20px;
  }
  .vocus-search img {
    width: 24px;
  }
  .mobile-hamburger {
    margin-left: 5px;
  }
  a.hamburger-icon {
    width: 34px;
    height: 18px;
    margin-top: 3px;
  }
  .hamburger-icon .line {
    width: 34px;
    height: 4px;
  }
  .hamburger-icon.active .line-1 {
    transform: translateY(9px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
    -moz-transform: translateY(9px) translateX(0) rotate(45deg);
  }
  .hamburger-icon.active .line-3 {
    transform: translateY(-9px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-9px) translateX(0) rotate(-45deg);
  }
  .navbar-bold {
    padding: 30px 20px;
  }
  .navbar-bold > li > a {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .nav-dropdown {
    padding: 15px 10px;
  }
  .nav-dropdown li {
    margin-bottom: 5px;
  }
  .nav-dropdown a {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .navbar-bold > li > a span::after {
    height: 4px;
    bottom: -10px;
  }
  .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a, .mega-menu-content.investorsMainPage .drop__child-links:last-child > span {
    font-size: 18px;
    margin-bottom: 7px;
  }
  .mega-menu-content.investorsMainPage .drop__child-links:last-child > span {
    margin-bottom: 15px;
    padding-bottom: 7px;
  }
  .mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column {
    margin-bottom: 15px;
  }

  /* HEADER END*/

  /*----- SEARCH SECTION -----*/
  .searchbox::-webkit-input-placeholder {
    font-size: 18px;
  }
  .searchbox::-moz-placeholder {
    font-size: 18px;
  }
  .searchbox:-ms-input-placeholder {
    font-size: 18px;
  }
  .searchbox:-moz-placeholder {
    font-size: 18px;
  }
  .searchbox + button {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 10px;
  }
  .searchbox + button svg {
    height: 20px;
    width: 20px;
  }
  .search-section .searchbox {
    margin-top: 50px;
  }
  input.searchbox {
    height: 45px;
    font-size: 18px;
    line-height: 45px;
  }
  .close-btn img {
    margin-right: 6px;
  }
  .search-result .page-top-cntr {
    padding: 40px 20px;
  }

  /* ============================== */

  /* HOME PAGE 
  /* ============================== */

  /* Slider */
  .slide h1 {
    font-size: 28px;
    padding-left: 20px;
    max-width: 95%;
    padding-top: 60px;
  }
  .slide, .columns, .big-header {
    height: 450px;
  }
  .carousel-container .arrows {
    bottom: 20px;
    right: 20px;
  }

  /* Slider End */

  /* Info boxs */
  .info__news-block, .info__investor-block {
    font-size: 16px;
    line-height: 1.3;
  }
  .info-box {
    padding: 35px 20px 40px;
  }
  .info__infrastructure p {
    font-size: 20px;
    line-height: 1.2;
  }
  .info__infrastructure a {
    margin-top: 25px;
  }
  .news-list-cntr {
    padding-top: 0;
  }
  .news-list-cntr li {
    padding: 10px 0;
    border-width: 1px;
  }
  .news-list-cntr li a h4 {
    max-width: 80%;
  }
  .news-list-cntr li span {
    font-size: 16px;
  }
  .news-list-cntr li a svg {
    width: 14px;
  }
  .info__investor-block {
    margin-top: 60px;
  }
  .info__investor-block p {
    padding-top: 0;
  }
  .info__investor-block a {
    margin-top: 25px;
  }

  /* Info boxs End */

  /* Network */
  .homepage-network-cntr {
    padding: 35px 20px 40px;
  }
  .network__info p {
    font-size: 16px;
    line-height: 1.3;
  }
  .network__info a {
    margin-top: 25px;
  }

  /* Network End  */

  /* To Top */
  .to-top-cntr a {
    margin-right: 20px;
  }
  .to-top-cntr a span {
    font-size: 18px;
    line-height: 20px;
  }
  .to-top-cntr a i::before {
    font-size: 24px;
  }

  /* To Top End */

  /* ============================== */

  /* HOME PAGE END
  /* ============================== */

  /* ============================== */

  /* ABOUT PAGES
  /* ============================== */

  /* BUSINESS TODAY */
  .about-item span {
    font-size: 16px;
    padding-left: 20px;
  }
  .full-width-content ol, .full-width-content p {
    font-size: 16px;
    line-height: 1.3;
  }
  .full-width-content ol {
    margin-left: 20px;
  }
  .business-today-final {
      font-size: 16px;
  }

  /* BUSINESS TODAY END */

  /* VALUES */
  .value__item {
    margin: 0 -20px;
    padding: 25px 20px;
  }
  .value__item-image {
    float: none;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .value__item-image img {
    width: 100%;
  }
  .value__item-content {
    padding-left: 0;
  }

  /* VALUES END */

  /* NETWORK */
  .value__section ul {
    font-size: 16px;
    line-height: 1.3;
  }
  .value__section {
    margin-top: 40px;
  }

  /* NETWORK END */

  /* ============================== */

  /* ABOUT PAGES END
  /* ============================== */

  /* ============================== */

  /* SUSTAINABILITY PAGES
  /* ============================== */

  /* GIVING */
  .sustanibility-giving-cntr ul li {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .sustanibility-giving-cntr ul li::before {
    height: 2px;
    top: 8px;
  }

  /* GIVING END */

  /* ============================== */

  /* SUSTAINABILITY PAGES END
  /* ============================== */

  /* ============================== */

  /* INVESTORS PAGES
  /* ============================== */

  /* INVESTOR LANDING */
  .investor-main-content .sub-title__big {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .investor-sub-title {
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 0;
  }
  .investor-main-content {
    padding: 30px 0 0;
  }
  .investors__summary-cntr .summary {
    width: 100%;
    padding: 30px 20px 40px;
  }
  .summary__details > h2 {
    margin-bottom: 25px;
  }

  /* Summary shares */
  .share__note-info, .share-detail-cntr {
    font-size: 16px;
  }
  .share__note-info {
    padding-left: 15px;
    margin-top: 25px;
  }
  .sup-bold {
    font-size: 40px;
  }
  .sup-bold sup {
    font-size: 20px;
    top: -15px;
  }
  .sup-bold .text-medium {
    font-size: 20px;
    margin-left: 10px;
  }
  .share__info span {
    font-size: 20px;
  }
  .share__info-image {
    width: 18px;
  }
  .share__info {
    padding-left: 25px;
    margin-top: 15px;
  }
  .share__update-info {
    font-size: 18px;
    margin-top: 25px;
  }
  .share-detail-cntr {
    margin-top: 30px;
  }

  /* Summary shares end */

  /* Investors navigation */
  .title-medium {
    font-size: 20px;
  }
  .investor__block {
    padding: 30px 20px 40px;
  }
  .investor__block h2 {
    margin-bottom: 25px;
  }
  .block-links-list ul li {
    font-size: 18px;
  }
  .block-links-list ul li a {
    height: 70px;
    padding: 12px 10px;
  }
  .block-links-list ul li a span {
    font-size: 18px;
  }
  .block-links-list ul li a svg {
    width: 12px;
    margin-right: 10px;
    height: 12px;
  }

  /* Investors navigation end */

  /* Key dates */
  .bold-small {
    font-size: 14px;
    margin-top: 0;
  }
  .key__item {
    padding: 10px 0;
  }
  .key__item .link-small {
    font-size: 16px;
  }

  /* Key dates end*/

  /* Webcast */
  .webcast-detail-cntr > span {
    font-size: 16px;
  }
  .webcasts-list-cntr {
    margin-top: 25px;
  }
  .webcast-item a span.link-small {
    max-width: 80%;
    font-size: 16px;
  }
  .link-item a span.pdf-text {
    font-size: 14px;
    line-height: 1.2;
  }
  .webcasts-list-cntr .link-item {
    padding: 10px 0;
  }
  .icon-arrow-right-circle:before {
    font-size: 32px;
  }

  /* Webcast end */

  /* Services */
  .service__section {
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .service__section .sub-title {
    margin-bottom: 15px;
  }

  /* Services end */

  /* INVESTOR LANDING END*/

  /* DIVIDENDS AND TAX */
  .table__content table thead th, .table__content table thead th, .five-year-history .table__content table thead th {
    font-size: 14px;
    padding: 10px 15px;
  }
  .table__content table tbody tr td, .five-year-history .table__content table tbody tr td {
    font-size: 16px;
    line-height: 1;
    padding: 15px;
  }

  /* DIVIDENDS AND TAX END */

  /* DIVIDEND REINVESTMENT PLAN */
  .reinvestment-plans-list {
    margin-top: 80px;
  }

  /* DIVIDEND REINVESTMENT PLAN END */

  /* ANNUAL GENERAL MEETING */
  .accordion, .accordion-wrap > .accordion:first-child {
    font-size: 26px;
    padding: 10px 10px 10px 0;
  }
  .accordion:after {
    width: 18px;
    height: 10px;
    margin-top: -5px;
  }

  /* ANNUAL GENERAL MEETING END */

  /* SHAREHOLDER REWARDS */
  .shareholder-top-cntr ul li, .shareholder-bottom-cntr ol {
    font-size: 18px;
  }
  .shareholder-bottom-cntr ol {
    margin-left: 20px;
  }
  .shareholder-bottom-cntr ol li {
    padding-left: 0;
  }

  /* SHAREHOLDER REWARDS END */

  /* SHARE PRICE */
  .price__items-list .price__item {
    font-size: 16px;
    padding: 12px 0;
  }
  .price__items-list .price__item .price__title {
    width: 40%;
  }
  .triangle-down {
    border-width: 12px 6px 0 6px;
  }
  .triangle-up {
    border-width: 0 6px 12px 6px;
  }
  .data-info-cntr span, .nasdaq-chart-cntr span {
    font-size: 16px;
    line-height: 1;
  }

  /* SHARE PRICE END */

  /* ANNUAL REPORT */
  .annual-report-btn .vocus-btn span {
    line-height: 50px;
  }
  .annual-report-btn .vocus-btn .icon-arrow-right:before {
    font-size: 12px;
  }

  /* ANNUAL REPORT END*/

  /* ============================== */

  /* INVESTORS PAGES END
  /* ============================== */

  /* ============================== */

  /* PRIVACY STATEMTNT PAGE
  /* ============================== */
  .privacy-content {
    padding: 0 20px;
    font-size: 16px;
  }
  .privacy-content h1, .privacy-content h2, .privacy-content h3, .privacy-content .sub-title__big, .privacy-content .sub-title, .privacy-content .page__title {
    padding: 0;
  }
  .privacy-content ul li {
    padding-left: 15px;
  }
  .privacy-content ul li::before {
    height: 6px;
    width: 6px;
    top: 8px;
  }
  .privacy-content ol, ol {
    margin-left: 15px;
  }

  /* ============================== */

  /* PRIVACY STATEMTNT PAGE END
  /* ============================== */

  /*********************************************************************************/

  /*  Footer     */

  /*********************************************************************************/
  .footer-wrap {
    padding: 40px 20px 30px;
  }
  .footer-logo-cntr a {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .footer-widget ul {
    margin-bottom: 30px;
  }
  .footer-widget ul li a {
    font-size: 16px;
    line-height: 1.5;
  }
  .footer-bottom {
    margin-top: 20px;
  }
  .copyright {
    font-size: 16px;
  }

  /*--Brands--*/
  .brands .brand-thumbnails {
    width: auto;
    padding: 0 20px;
    display: block;
    border-bottom: 10px solid #f4f4f5;
  }
  .expander-container, .board-main-info {
    width: 100%;
    height: auto;
    display: block;
    min-height: inherit;
  }
  .right-content-brands .gallery-contents {
    padding-top: 30px;
  }
  .brand-summary .heading-info {
    padding-bottom: 30px;
  }
  .expander-container .col-md-6 {
    width: 100%;
  }
  .initialization .board-main-info .board-logo {
    display: none;
  }
  .initialization .board-main-info .text-des {
    padding: 50px 0;
  }
  .expander-container .col-md-6 p {
    padding: 0;
  }

  /*********************************************************************************/

  /*accordion*/

  /*********************************************************************************/
  .webcast h1 {
    font-size: 35px;
    margin-bottom: 40px;
  }

  /* BRANDS MAIN */
  .brands {
    margin: 0;
  }
  .brands .brands-desc {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .brands .brands-desc h5 {
    font-size: 20px;
  }
  .right-content-brands {
    margin: 0 -20px;
  }
  .brands .sub-title {
    font-size: 20px;
    display: block;
    min-height: inherit;
  }
  .brand-summary .heading-info .sub-title {
    margin-bottom: 10px;
  }
  .right-content-brands .heading-info p {
    max-height: 78px;
    min-height: 78px;
    font-size: 16px;
  }
  .brand-expander-main-cntr .expander-container .vocus-btn {
    width: 100%;
  }
  .brands .brand-summary {
    padding-left: 0;
    padding-right: 0;
  }
  .gallery-expander-contents {
    padding: 0;
  }
  .expander-container .col-md-6 {
    padding: 0;
  }
  .heading-info .info-arrow {
    font-size: 16px;
    margin-top: 10px;
  }
  .heading-info svg {
    width: 16px;
    height: 12px;
    margin-right: 9px;
  }
  .brand-summary .heading-info svg {
    top: 0;
  }
  .gallery-expander-contents > div {
    padding: 15px;
  }
  .brand-expander-main-cntr .gallery-expander-contents {
    border-top: 0;
    border-width: 10px;
  }
  .brand-expander-main-cntr .gallery-expander-contents > div {
    padding: 30px 20px;
  }
  .brand-expander-main-cntr .gallery-expander-contents .brand-logo {
    display: none;
  }
  .brand-expander-main-cntr .gallery-expander-contents .gallery-trigger-close {
    padding: 0;
    float: none;
    font-size: 16px;
  }
  .brand-expand-wrapper {
    padding-top: 0;
  }
  .brand-expander-main-cntr .gallery-expander-contents .brand-desc-cntr {
    width: auto;
    float: none;
    padding: 50px 0;
  }
  .brand-expander-main-cntr .gallery-expander-contents .brand-desc-cntr p {
    line-height: 1.3;
  }
  .brand-expand-wrapper {
    min-height: inherit;
  }

  /*********************************************************************************/

  /*accordion*/

  /*********************************************************************************/
  .webcast h1 {
    font-size: 35px;
    margin-bottom: 40px;
  }

  /*vocus-btn*/
  .expandable .vocus-btn svg {
    width: 12px;
    margin-right: 10px;
  }

  /*media page*/
  .expandable-box-img {
    padding: 48px 0 0 0;
    width: 100%;
  }
  .expandable-box-info {
    width: 100%;
  }
  .gallery-expander-contents > div {
    margin-bottom: 0;
  }

  /*board page*/
  .board-page .page-title {
    padding: 30px 5px 40px 5px;
    font-size: 20px;
  }
  .expander-container .col-md-6 p {
    font-size: 16px;
  }
  .board-text {
    margin: 45px 80px 30px 40px;
  }
  .news-details  .find-info, .board-page .find-info {
    font-size: 16px;
    margin-top: 10px;
  }
  .news-details .find-info svg, .board-page svg {
    width: 12px;
  }

  /*-----CONTACT US-----*/
  .contact-enquiry .enquiry-title.sub-title__big {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .contact-top, .contact-bottom {
    padding: 0 20px;
  }
  .enquiry-section p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .enquiry-section  a {
    font-size: 16px;
  }
  .enquiry-section h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .contact-summary span {
    font-size: 16px;
  }
  .thumbnail-section .sub-title__big {
    font-size: 20px;
  }
  .contact-enquiry {
    padding-bottom: 10px;
  }
  .contact-thumb-list-cntr {
    margin: 0;
  }
  .contact-thumbnails .contact-item {
    width: 100%;
    padding: 0;
  }
  .board-expand-wapper .gallery-trigger-close {
    text-align: left;
    padding: 0;
    font-size: 16px;
    float: none;
  }
  .contact-summary {
    padding-top: 20px;
  }
  .initialization .col-lg-3, .initialization .col-md-6, .initialization .col-sm-12 {
    float: none;
  }
  .initialization.board-page .col-lg-3 {
    display: block;
    width: auto;
    border-bottom: 10px #f4f4f5 solid;
    margin: 0 -15px;
  }
  .ourboard .board-expand-wapper {
    border: none;
  }
  .member-post-wrap {
    min-height: 78px;
    max-height: 78px;
  }
  .member-post {
    font-size: 16px;
  }
  .ourboard .find-info svg {
    height: 12px;
    width: 16px;
  }
  .memb-details {
    margin-left: 0;
    padding-bottom: 30px;
  }
  .member-hide {
    display: none;
  }
  .contact-summary svg {
    width: 12px;
    height: 12px;
    margin-right: 10px;
  }
  .ourboard .expander-container ul {
    font-size: 16px;
  }
  .ourboard .expander-container .col-md-6 p, .ourboard .expander-container ul {
    max-width: 100%;
    line-height: 1.3;
  }
  .ourboard .expander-container ul li::before {
    top: 6px;
  }
  .ourboard .gallery-expander-contents {
    padding: 0;
  }
  .ourboard .gallery-expander-contents > div {
    padding: 30px 20px;
  }
  .board-page .gallery-item {
    padding: 0 5px;
  }
  .board-page .gallery-item .gallery-contents {
    padding-top: 30px;
  }

  /* News Page */
  .news-small-title a span {
    font-size: 18px;
    line-height: 32px;
  }
  .news-date {
    font-size: 18px;
    padding: 20px 0 25px;
  }
  .news-page-list {
    padding-top: 30px;
  }

  /* News Page End */

  /*media page */
  .media-page .row {
    margin: 0;
  }
  .expandable-box-img video {
    max-width: 100%;
  }
  .media-page {
    padding: 0;
  }
  .news-details .sub-title, .board-page .board-col .sub-title {
    font-size: 20px;
  }

  /* .media-page .gallery-item { margin-bottom:25px;}*/
  .media-page  .news-details {
    padding-left: 0;
  }
  .media-page .media-item {
    padding-left: 0;
    padding-right: 0;
    display: block;
    border-bottom: 10px solid #f4f4f5;
  }
  .media-page .media-item .gallery-item {
    padding: 0 20px 0;
  }
  .media-page .media-item:first-child .gallery-item {
    border-top: none;
  }
  .expander-container.news-media-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .expander-container.news-media-container .expandable-box-img {
    padding-left: 0;
  }
  .expander-container.news-media-container .expandable-box-info {
    padding-left: 0;
  }

  /* .media-page .gallery-contents{ padding-bottom:25px;}*/
  .media-item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
  .media-item .gallery-expander-contents > div {
    margin-bottom: 0;
  }
  .media-item  .gallery-contents {
    padding-top: 30px;
  }
  .media-page  .news-details {
    padding-bottom: 30px;
  }
  .news-details .news-title.sub-title {
    margin-right: 0;
  }
  .media-epxander-main-cntr .gallery-expander-contents {
    border: 0;
  }
  .media-epxander-main-cntr .expandable {
    padding: 30px 20px;
  }
  .media-epxander-main-cntr .gallery-trigger-close {
    padding: 0;
    text-align: left;
    font-size: 16px;
  }
  .media-expand-wrapper .media-item-cntr, .media-expand-wrapper .media-info-cntr {
    padding: 0;
  }
  .media-expand-wrapper .expandable-box-info p {
    font-size: 16px;
  }

  /* Search Page */
  .search-result .search-left {
    margin: 0 0 40px;
  }
  .search-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .search-result .search-heading {
    margin-left: 20px;
  }
  .search-content h5, .search-content p {
    margin: 0 20px;
  }
  .search-content h5 {
    margin-bottom: 15px;
  }
  .search-pagination {
    margin-left: 20px;
  }
  .search-result h5 > a {
    font-size: 20px;
  }
  .search-content p {
    font-size: 16px;
  }
  .search-pagination li > a {
    font-size: 16px;
  }
}