/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
font-size: 1.5rem;
}

blockquote {
font-style: italic;
}

h2 {
font-size: 1.4rem;
}

h3 {
font-size: 1.2rem;
}

h5 {
font-size: 1rem; font-weight: 100;
}

p {
font-size: 1rem;
}




/**umb_name:Header*/
.page__title{}

/**umb_name:Header 2*/
.sub-title__big{}

/**umb_name:Header 3*/
.sub-title{}



/**umb_name:Header 2*/
#Header2{color: #65c4e9;
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;}

/**umb_name:Header 3*/
#Header3{color: #65c4e9;
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;}

/**umb_name:Smooth*/
#Smooth{text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;}

/**umb_name:Paragraph*/
#Paragraph{display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}

/**umb_name:Blockquote*/
#Blockquote{font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;}



/**umb_name:Header*/
#Header{color: #65c4e9;
font-size: 18px;
line-height: 20px;
margin-bottom: 25px;}