@import url('fonts.css');

/*********************************************************************************/

/* global css    */

/*********************************************************************************/
* {
  box-sizing: border-box;
}
body {
  background: #f5f5f6;
  font-family: 'museo_sans500', sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: #57585a;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
svg {
  width: 9px;
  transition: all 0.3s ease-in-out;
}
img {
  max-width: 100%;
}
.mobile {
  display: none;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.page-title, .sub-title, .page__title, .sub-title__big, .link-small, .title-medium {
  font-family: 'Futura Bold';
  text-transform: uppercase;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
}
.sub-title {
  color: #114b95;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 25px;
}
.sub-title__big {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 35px;
  color: #65c4e9;
}
.link-small, .sub-title__small {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 0;
  color: #65c4e9;
}
.title-medium {
  font-size: 22px;
  line-height: 34px;
}
.vocus-btn {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  color: #fff;
  text-transform: uppercase;
  width: 196px;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 12px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vocus-btn svg {
  width: 9px;
  fill: #fff;
  margin-right: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vocus-btn span {
  position: relative;
  display: inline-block;
  line-height: 43px;
}
.vocus-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #a6e6ff;
}
.vocus-btn:hover {
  color: #114b95;
}
.vocus-btn:hover svg {
  fill: #114b95;
}
.vocus-btn:hover::before {
  height: 100%;
}
.big-para {
  font-size: 24px;
  line-height: 30px;
}

/* INNER PAGE COMMON STYLES */
.page-top-cntr {
  padding: 55px 60px 60px;
}
.page-top-cntr h1 {
  margin-bottom: 12px;
}
.page__breadcrumb ul {
  font-size: 0;
}
.page__breadcrumb li {
  display: inline-block;
  font-size: 13px;
}
.page__breadcrumb li:first-child a::before {
  display: none;
}
.page__breadcrumb li a {
  position: relative;
  margin-right: 5px;
  color: #9c9b99;
  text-transform: capitalize;
}
.page__breadcrumb li a::before {
  content: '';
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-right: 5px;
  background: url(../images/arrow-right-light-gray.svg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page__breadcrumb li.active a, .page__breadcrumb li a:hover {
  color: #57585a;
}
.page__breadcrumb li.active a:before, .page__breadcrumb li a:hover::before {
  background: url(../images/arrow-right-dark-gray.svg);
}
.page-content-cntr {
  padding: 0 11px;
}
.page-left-navigation .left__nav-cntr {
  padding-left: 40px;
  margin-top: 30px;
}
.small-title {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Futura Bold';
  line-height: 12px;
  border-bottom: 1px solid #114b95;
  padding-bottom: 5px;
}
.left__nav-cntr ul {
  margin-top: 18px;
}
.left__nav-cntr a {
  color: #9c9b99;
  margin-bottom: 8px;
}
.left__nav-cntr a:hover, .left__nav-cntr li.active a {
  color: #114b95;
}
.left__nav-cntr li.active a {
  border-bottom: 1px solid #114b95;
}
.page__main-content {
  background: #fff;
  padding: 30px 35px;
  position: relative;
}
.page__hero-image {
  height: 265px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
}
.main__content-cntr {
}

/* Related Content */
.related-content-cntr h3 {
  border-color: #31C4C4;
}
.content__right {
  width: 32.84%;
  float: right;
  padding-left: 40px;
}
.related-content-cntr ul {
  margin-top: 20px;
}
.related-content-cntr ul li {
  margin-bottom: 3px;
}

/* Related Content End */
.content__left {
  float: left;
  width: 67.16%;
}
.main-content {
}
.main-content .big-para {
  margin-bottom: 30px;
  padding-right: 10px;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content p a {
  color: #57585a;
  text-decoration: underline;
}
.main-content p a:hover {
  color: #65c4e9;
}
.full-width-content {
}
p.img-cntr {
  margin-bottom: 0;
}

/* INNER PAGE COMMON STYLES END */

/*********************************************************************************/

/* colors class   */

/*********************************************************************************/
.white-bg {
  background: #fff;
}
.vocus_blue {
  color: #114b95;
}
.seagull {
  color: #65c4e9;
}
.white {
  color: #fff;
}
.sky {
  color: #a6e6ff;
}
.coral {
  color: #f27273;
}
.mango {
  color: #f9c844;
}
.moss {
  color: #b9cf58;
}
.dark_grey {
  color: #57585a;
}
.middle_grey {
  color: #9c9b99;
}
.light_grey {
  color: #f5f5f6;
}
.maximum_blue_green {
  color: #31C4C4;
}

/* Background */
.vocus_blue_bg {
  background: #114b95;
}
.seagull_bg {
  background: #65c4e9;
}
.sky_bg {
  background: #a6e6ff;
}
.coral_bg {
  background: #f27273;
}
.mango_bg {
  background: #f9c844;
}
.moss_bg {
  background: #b9cf58;
}
.dark_grey_bg {
  background: #57585a;
}
.middle_grey_bg {
  background: #9c9b99;
}
.light_grey_bg {
  background: #f5f5f6;
}
.maximum_blue_green_bg {
  background: #31C4C4;
}

/*********************************************************************************/

/* homepage main content    */

/*********************************************************************************/

/* Slider */
#cycle-pager {
  display: none;
}
.slides, .slide, .columns, .big-header {
  height: 608px;
}
.slides h1, .slide h1 {
  padding-top: 110px;
  padding-left: 50px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Futura Bold';
  font-size: 28px;
  max-width: 480px;
}
.columns::before, .columns::after, .big-header::after, .big-header::before {
  content: '';
  display: table;
  clear: both;
}
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-container .carousel .cycle-slide, .carousel-container .cycle-slideshow .cycle-slide {
  width: 100%;
  visibility: hidden;
}
.carousel-container .carousel .cycle-slide.first, .carousel-container .cycle-slideshow .cycle-slide.first {
  visibility: visible;
}
#feature.feature-footer-active .big-header {
  padding-bottom: 5rem;
  margin-bottom: 0;
}
.bh__video {
  z-index: 0;
}
.big-header .bh__background-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0a1f54;
}
.bh__video .bh__background {
  background-color: inherit;
}
.big-header .bh__background-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position-x: 70%;
  background-position-y: top;
  background-repeat: no-repeat;
}
#feature .big-header .bh__background-image {
  padding-top: 10.625rem;
}
#feature.feature-footer-active .bh__height-size-3 .bh__content-wrap {
  height: 28.125rem;
}
.bh__content-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: table;
}
.bh__content {
  display: table-cell;
  vertical-align: middle;
}
.carousel .big-header .line-wrap {
  overflow: hidden;
}
.big-header .line {
  display: block;
  line-height: 1;  
}
.big-header .line p {
    padding: 15px;
  background: rgba(0,0,0,0.1);
}
.carousel-container .arrows {
  display: none;
  padding-right: 0;
  position: absolute;
  z-index: 1000;
  right: 30px;
  bottom: 50px;
  margin-top: 0;
  margin-left: 0;
}
div#arrow-prev {
  display: none;
}
#feature .carousel-container .arrows, .layout-container .carousel-container .arrows {
  margin-left: 0;
}
.carousel-container .arrows {
  display: block;
}
.carousel-container .arrows .arrow {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: block;
}
.carousel-container .arrows .arrow.prev {
  margin-top: .625em;
}
.carousel-container .arrows .arrow .invisible-button {
  width: 40px;
  height: 40px;
  position: absolute;
}
.carousel-container .arrows .arrow .st2 {
  stroke: #114b95;
  stroke-dashoffset: 2000;
}
.lc__theme-color-1 .carousel-container .arrows .arrow .st2 {
  stroke: #114b95;
}
.carousel-container .arrows .arrow object, .carousel-container .arrows .arrow svg {
  width: 40px;
  height: 40px;
}
.carousel-container .carousel .cycle-slide, .carousel-container .cycle-slideshow .cycle-slide {
  width: 100%;
  visibility: hidden;
}
.carousel-container .carousel .cycle-slide.first, .carousel-container .cycle-slideshow .cycle-slide.first {
  visibility: visible;
}
.text-light a {
  opacity: 1;
}
.big-header .bh__background {
  overflow: hidden;
}
.big-header .line-wrap {
  display: block;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  visibility: visible;
}
.bigHeaderSlideUpIn, .bigHeaderSlideUpInLink, .bigHeaderSlideUpOut {
  animation-timing-function: cubic-bezier(.77, 0, .175, 1);
  animation-duration: .75s !important;
}
@keyframes bigHeaderSlideUpOut {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -350px, 0);
  }
}
.bigHeaderSlideUpOut {
  animation-name: bigHeaderSlideUpOut;
}
@keyframes bigHeaderSlideUpIn {
  from {
    transform: translate3d(0, 350px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.bigHeaderSlideUpIn, .bigHeaderSlideUpInLink {
  animation-name: bigHeaderSlideUpIn;
  animation-delay: .125s;
}
.slideInUpBig, .slideInUpSmall, .slideOutUpBig {
  animation-duration: 1s !important;
}
@keyframes slideInUpBig {
  from {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.slideInUpBig {
  animation-name: slideInUpBig;
  animation-timing-function: cubic-bezier(.165, .84, .44, 1);
}
@keyframes slideOutUpBig {
  from {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
.slideOutUpBig {
  animation-name: slideOutUpBig;
  animation-timing-function: cubic-bezier(.77, 0, .175, 1);
}

/* Slider End */

/* Info boxs */
.homepage-info-cntr {
  margin: 0 22px;
  font-size: 0;
  margin-top: -200px;
  position: relative;
  z-index: 100;
  clear: both;
}
.info-box {
  font-size: 15px;
  padding: 30px 40px 50px;
  display: inline-block;
  width: 50%;
  float: none;
  vertical-align: bottom;
  position: relative;
}
.info__infrastructure {
  background: #fff;
}
.info__infrastructure h2 {
  max-width: 50%;
}
.info__infrastructure p {
  font-size: 24px;
  line-height: 30px;
}
.info__infrastructure a {
  margin-top: 140px;
}
.info__news__inverstor {
  background: #596781;
  color: #fff;
  font-size: 0;
  min-height: 335px;
}
.info__news-block, .info__investor-block {
  font-size: 15px;
  display: inline-block;
  float: none;
  width: 50%;
  padding-right: 37px;
  vertical-align: top;
}
.news-list-cntr li {
  padding-top: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
}
.news-list-cntr li:first-child {
  padding-top: 0;
}
.news-list-cntr li a {
  display: block;
  line-height: 21px;
  color: #fff;
  padding-right: 30px;
  position: relative;
}
.news-list-cntr li a h4 {
  font-weight: normal;
}
.news-list-cntr li a svg {
  position: absolute;
  top: 5px;
  right: 0;
}
.news-list-cntr li a:hover {
  color: #65c4e9;
}
.news-list-cntr li a:hover svg {
  fill: #65c4e9;
}
.news-list-cntr li span {
  display: block;
  font-size: 12px;
}
.info__investor-block {
  padding-right: 0;
  padding-left: 37px;
}
.info__investor-block a {
  position: absolute;
  bottom: 50px;
}

/* Info boxs End*/

/* Network info */
.homepage-network-cntr {
  margin-top: 30px;
}
.homepage-network-cntr::after {
  content: '';
  display: table;
  clear: both;
}
.network__info {
  margin-left: 60px;
  width: 220px;
  padding-left: 0;
  padding-right: 5px;
}
.network__info a {
  margin-top: 35px;
}
.network__image {
  padding-left: 70px;
}

/* Network info End*/

/* To top */
.to-top-cntr {
  text-align: right;
  padding: 20px 0 13px 0;
}
.to-top-cntr a {
  text-transform: uppercase;
  color: #57585a;
  display: inline-block;
  margin-right: 25px;
}
.to-top-cntr a span {
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
  margin-top: 2px;
  font-size: 12px;
}
.to-top-cntr a:hover {
  color: #114b95;
}

/* To top End */

/*********************************************************************************/

/* header */

/*********************************************************************************/
.logo-cntr {
  padding: 55px 30px 0;
}
header {
  background: #fff;
  max-width: 1224px;
  margin: 0 auto;
   z-index: 10000;
  position: relative;
}

header .main-header-cntr.stick {
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 0 4px 3px -2px gray;
    -moz-box-shadow: 0 4px 3px -2px gray;
    box-shadow: 0 4px 3px -2px gray;
}
.navbar-light li, .navbar-bold li {
  display: inline-block;
}
header .navbar-light a {
  font-size: 11px;
  text-transform: uppercase;
  color: #57585a;
  margin-left: 15px;
  font-weight: 700;
}
header .navbar-light a:hover {
  color: #114b95;
}
header .navbar-light {
  margin-top: 30px;
  margin-bottom: 23px;
  display: inline-block;
  line-height: 10px;
  padding-right: 12px;
  border-right: 1px solid #57585a;
}
.navbar-bold {
  font-size: 0;
  margin-right: 20px
}
.navbar-bold > li {
  padding-bottom: 20px;
  margin-left: 30px;
}
.navbar-bold > li > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #57585a;
  font-family: 'Futura Bold';
  position: relative;
  padding-bottom: 8px;
}
.navbar-bold > li > a::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: #114b95;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-bold > li {
  position: relative;
}
.nav-dropdown {
  font-size: 15px;
  position: absolute;
  background: #fff;
  right: 0;
  top: 100%;
  white-space: nowrap;
  text-align: left;
  padding: 30px 40px 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  min-width: 320px;
}
.nav-dropdown li {
  display: block;
  margin-bottom: 10px;
}
.nav-dropdown a {
  text-transform: capitalize;
  font-size: 15px;
  color: #57585a;
}
.nav-dropdown ul.sublevel li a {
  position: relative;
  padding-bottom: 1px;
}
.nav-dropdown ul.sublevel li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #114b95;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-dropdown li > a:hover {
  color: #114b95;
}
.investors .dropdown {
  min-width: 890px;
}
.mega-menu-content .report-content {
  padding-right: 25px;
}
.mega-menu-content .report-content .small-title {
  padding-bottom: 7px;
  border-color: #57585a;
  margin-bottom: 15px;
}
.mega-menu-content .report-content img {
  display: block;
  margin-bottom: 15px;
}
.mega-menu-content .report-content .btn__report {
  text-transform: uppercase;
  color: #fff;
  width: 225px;
  font-size: 12px;
}
.mega-menu-content .report-content .btn__report:hover, .mega-menu-content .drop__child-links ul li a:hover {
  color: #114b95;
}
.mega-menu-content .drop__child-links ul {
  padding-left: 25px;
}
.mega-menu-content .drop__annual-report, .mega-menu-content .drop__child-links {
  font-size: 15px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.mega-menu-content.sustainabilityReportMenu {
  width: 530px;
}
.mega-menu-content.investorsMainPage {
  width: 820px;
}
.mega-menu-content.investorsMainPage .drop__annual-report {
  width: 265px;
}
.mega-menu-content.investorsMainPage .drop__child-links {
  width: 555px;
}
.mega-menu-content.investorsMainPage .drop__child-links ul {
  padding: 0;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul {
  padding-left: 25px;
  font-size: 0;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column {
  font-size: 15px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column:last-child {
  padding-left: 17px;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Futura Bold';
  line-height: 12px;
  border-bottom: 1px solid #57585a;
  padding-bottom: 7px;
  margin-bottom: 15px;
  width: 240px;
}
.mega-menu-content.investorsMainPage .drop__annual-report {
  width: 265px;
}
.mega-menu-content.investorsMainPage .drop__child-links {
  width: 555px;
}
.mega-menu-content.investorsMainPage .drop__child-links:last-child > span {
  margin-left: 25px;
  display: block;
  text-transform: uppercase;
  font-family: 'Futura Bold';
  font-size: 16px;
  line-height: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #5b5c5e;
  margin-bottom: 17px;
  margin-right: 8px;
}
.mega-menu-content.investorsMainPage .drop__child-links:last-child > span a {
  text-transform: uppercase;
}
.mega-menu-content.investorsMainPage .drop__child-links:last-child > span a:hover {
  color: #114b95;
}
.mega-menu-content.investorsMainPage .drop__child-links ul {
  padding: 0;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul {
  padding-left: 25px;
  font-size: 0;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column {
  font-size: 15px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column:last-child {
  padding-left: 17px;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Futura Bold';
  line-height: 12px;
  border-bottom: 1px solid #57585a;
  padding-bottom: 7px;
  margin-bottom: 15px;
  width: 240px;
}
.navbar-bold > li:hover > a {
  color: #114b95;
}
.mega-menu-content.investorsMainPage .drop__child-links > ul li.child-nav-column > a::after {
  display: none;
}
@media (min-width:801px) {
  .navbar-bold {
    display: inline-block !important;
  }
  .navbar-bold > li:hover > a::after, .navbar-bold > li:hover .nav-dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  .nav-dropdown {
    display: block !important;
  }
  .nav-dropdown ul.sublevel li a:hover::after {
    opacity: 1;
    visibility: visible;
  }
}

/*=========SEARCH SECTION HERE=========*/
.vocus-search {
  margin-right: 10px;
  margin-top: 26px;
  float: right;
}
.vocus-search a {
  padding: 0 12px;
  font-weight: 700;
}
.vocus-search img {
  margin-left: 10px;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  width: 14px;
}
.search-section .container {
  width: 780px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-section .close-btn {
  color: #fff;
  border-left: none;
  margin-top: 50px;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
}
.search-section {
  position: fixed;
  z-index: 10003;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 88, 90, .9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-right: 17px;
}
.search-section.open {
  opacity: 1;
  visibility: visible;
  padding-left: 17px;
  padding-right: 0;
}
.search-section .searchbox {
  display: block;
  width: 100%;
  margin-top: 100px;
  background: transparent;
  border: none;
  outline: 0;
  border-bottom: 2px solid #f5f5f6;
  color: #f5f5f6;
  padding-right: 35px;
  padding-left: 0;
  border-radius: 0;
}
.search-section .input-group {
  position: relative;
  z-index: 11;
}
.searchbox::-webkit-input-placeholder {

  /* Chrome/Opera/Safari */
  color: #f5f5f6;
  font-size: 34px;
  opacity: 1;
}
.searchbox::-moz-placeholder {

  /* Firefox 19+ */
  color: #f5f5f6;
  font-size: 34px;
  opacity: 1;
}
.searchbox:-ms-input-placeholder {

  /* IE 10+ */
  color: #f5f5f6;
  font-size: 34px;
  opacity: 1;
}
.searchbox:-moz-placeholder {

  /* Firefox 18- */
  color: #f5f5f6;
  font-size: 34px;
  opacity: 1;
}
.vocus-search a {
  font-size: 11px;
  text-transform: uppercase;
  color: #114b95;
}
.close-btn img {
  margin-right: 10px;
}
input.searchbox {
  height: 62px;
  line-height: 70px;
  font-size: 34px;
}
.searchbox + button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 11px;
  padding: 0;
}
.searchbox + button svg {
  fill: #fff;
  height: 30px;
  width: 30px;
}
.searchbox + button:hover svg {
  fill: #65c4e9;
}
.investor-main-content.search-main-content.search-result {
  padding-top: 40px;
}
.search-result h5 > a {
  text-transform: uppercase;
  font-family: 'Futura Bold';
  font-size: 18px;
  color: #65c4e9;
}
.search-result h5 > a:hover {
  color: #114b95;
}
.search-result .search-heading {
  margin-bottom: 5px;
}
.search-content p > span {
  color: #65c4e9;
}
.search-heading .search-keyword {
  text-transform: lowercase;
}
.search-content h5 {
  margin-bottom: 15px;
}
.search-content {
  padding-top: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #9c9b99;
}
.search-pagination {
  font-size: 0;
  margin-left: 40px;
}
.search-pagination li {
  display: inline-block;
  margin-right: 15px;
}
.search-pagination li.active > a {
  color: #65c4e9;
}
.search-pagination li > a {
  color: #b6b6b4;
  font-family: 'Futura Bold';
  font-size: 18px;
}
.search-pagination li > a:hover {
  color: #65c4e9;
}
.search-result .search-left {
  width: 740px;
  margin-bottom: 120px;
  margin-left: 40px;
}

/* HAmburger Menu */
.hamburger-icon {
  width: 43px;
  height: 26px;
  position: relative;
  display: block;
  padding: 0;
}
.hamburger-icon .line {
  display: block;
  background: #114b95;
  width: 43px;
  height: 6px;
  position: absolute;
  left: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.hamburger-icon .line.line-1 {
  top: 0;
}
.hamburger-icon .line.line-2 {
  top: 50%;
}
.hamburger-icon .line.line-3 {
  top: 100%;
}
.hamburger-icon.active .line-1 {
  transform: translateY(13px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(13px) translateX(0) rotate(45deg);
  -moz-transform: translateY(13px) translateX(0) rotate(45deg);
}
.hamburger-icon.active .line-2 {
  opacity: 0;
}
.hamburger-icon.active .line-3 {
  transform: translateY(-13px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-13px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-13px) translateX(0) rotate(-45deg);
}

/*--Utitlities class--*/
.text-right {
  text-align: right;
}

/*********************************************************************************/

/* BRANDS    */

/*********************************************************************************/

.brands {
  clear: both;
  background-color: #fff;
  margin: 0 2px;
}
.brands:after {
  clear: both;
  content: '';
  display: table;
}
.brands-desc h5 {
  text-transform: uppercase;
  font-family: 'Futura Bold';
  font-size: 18px;
}
.brands .sub-title {
  color: #65c4e9;    /*line-height: 24px;*/
  line-height: 1.2;
}
.brand-thumbs {
  width: 100%;
  height: 0;
  padding-bottom: 114.19%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  cursor: pointer;
}
.brands .brands-desc {
  padding-top: 30px;
  padding-left: 40px;
}
.brands .brands-desc {
  width: 290px;
}
.brands .brands-desc {
  float: left;
  width: 24.487%;
}
.right-content-brands {
  float: left;
  width: 75.513%;
  text-align: right;
  font-size: 0;
}
.right-content-brands .heading-info p {
  font-size: 15px;
}
.brands .brand-thumbnails {
  display: inline-block;
  padding-left: 8px;
  width: 33.333333%;
  vertical-align: top;
}
.brands .brand-summary {
  display: block;
}
.brands .brand-summary:first-child {
}
.brand-skyblue {
  background-color: #00adee;
}
.brand-purple {
  background-color: #662d91;
}
.brand-blue {
  background-color: #0055a5;
}
.brand-black {
  background-color: #1a1f42;
}
.brand-darkblue {
  background-color: #006eb3;
}
.brand-red {
  background-color: #d41f30;
}
.brand-orange {
  background-color: #f4811f;
}
.brand-lightblue {
  background-color: #3580b7;
}
.brand-summary .heading-info {
  padding-top: 30px;
  padding-left: 40px;
  height: 175px;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  text-align: left;
}
.heading-info .info-arrow {
  position: absolute;
  bottom: 35px;
  left: 40px;
  color: #84d0ed;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.heading-info .info-arrow:hover {
  color: #114b95;
}
.heading-info .sub-title {
  max-height: 40px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.brand-summary .heading-info .sub-title {
    margin-bottom: 0;
}
.heading-info .sub-title:hover {
  color: #114b95;
}
.heading-info .info-arrow:hover svg {
  fill: #114b95;
}
.heading-info p {
  max-height: 40px;
  overflow: hidden;
}
.heading-info svg {
  height: 9px;
}
.gallery-expander {
  text-align: left;
}

/*********************************************************************************/

/* Footer    */

/*********************************************************************************/

.footer-wrap {
  background: #596781;
  max-width: 1224px;
  margin: 0 auto;
  padding: 45px 30px 30px;
}
.footer-logo-cntr a {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Futura Bold';
    color: #fff;
    line-height: 1;
}
.footer-logo-cntr a:hover {
    color: #65c4e9;
}
.footer-top {
    font-size: 0;
}
.footer-widget {
  float: none;
  display: inline-block;
  vertical-align: top;
  padding-right: 100px;
}
.footer-widget:last-child {
    padding-right: 0;
}
.footer-widget ul {
  list-style: none;
}
.footer-widget li {
  display: block;
}
.footer-widget li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.footer-widget li a:hover {
  color: #65c4e9;
}

.footer-bottom {
    font-size: 0;
    margin-top: 70px;
}
.footer-copyright-cntr {
    width: 280px;
}
.footer-logo-list-cntr {
    width: calc(100% - 280px);
}
.footer-copyright-cntr, .footer-logo-list-cntr {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}
.copyright {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.copyright p:first-child {
  margin-bottom: 2px;
}
.copyright p span a {
    color: #fff;
    pointer-events: none;
}
.copyright p span a:hover {
    color: #fff;
}

.footer-logo-wrap {
  width: 112px;
  height: 30px;
  float: left;
}
.logo-list {
    font-size: 0;
}
.logo-list:first-child {
    margin-bottom: 10px;
}
.footer-logo-wrap {
    display: inline-block;
    float: none;
}
.footer-logo-wrap a {
  width: 100%;
  height: 100%;
}
.footer-logo-wrap a img {
    vertical-align: middle;
}
.footer-logo-wrap:last-child {
  margin-left: 40px;
}

/*logo placement styles*/
.footer-flip {
  margin-left: 35px;
}
.footer-callplus {
  margin-left: 25px;
}

/*********************************************************************************/

/* About Us Pages    */

/*********************************************************************************/

/*********************************************************************************/

/* Business Today PAGE   */

/*********************************************************************************/
.about-icons-list ul {
  font-size: 0;
}
.about-icons-list li {
  width: 50%;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}
.about-icons-list li:nth-child(odd) {
  padding-right: 30px;
}
.about-icons-list li:nth-child(even) {
  padding-left: 30px;
}
.about-item {
  border-bottom: 1px solid #9c9b99;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 16px 0;
}
.about-icons-list li:nth-child(-n+2) .about-item {
  border-top: 1px solid #9c9b99;
}
.about-item img {
  max-width: 82px;
  width: 82px;
}
.about-item span {
  color: #65c4e9;
  padding-left: 30px;
  text-transform: uppercase;
  font-family: 'Futura Bold';
  display: inline-block;
  width: calc(100% - 82px);
}
.full-width-content.about-icons-cntr {
}
.full-width-content h2 {
  margin-bottom: 15px;
}
.full-width-content ol {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}
.business-today-final {
    margin-top: 25px;
}

/*********************************************************************************/

/* Values PAGE   */

/*********************************************************************************/
.values-list-cntr {
  margin-top: 50px;
}
.value__item {
  padding: 30px 35px;
  margin: 0 -35px;
  border-bottom: 3px solid #f5f5f6;
}
.value__item:first-child {
  border-top: 3px solid #f5f5f6;
}
.value__item:last-child {
  border: 0;
  padding-bottom: 0;
}
.value__item-content p {
  margin-bottom: 0;
}
.value__item-image {
  float: left;
}
.value__item-image {
  max-width: 165px;
}
.value__item-content {
  overflow: auto;
  padding-left: 30px;
  max-width: 59%;
}
.value__section {
  margin-top: 75px;
  padding-top: 15px;
  border-top: 1px solid #9c9b99;
  padding-right: 15px;
}
.value__section .sub-title {
  margin-bottom: 12px;
}
.value__section ul {
  margin-bottom: 25px;
}
.value__section ul li {
  margin-bottom: 10px;
}
.full-width-content.value-bottom-img {
  margin-top: 20px;
}

/*********************************************************************************/

/* Corporate Governance PAGE   */

/*********************************************************************************/
.full-width-content.links-list-cntr {
}

/* Links List */
.links-list-cntr ul {
  font-size: 0;
}
.links-list-cntr ul li {
  width: 50%;
  display: inline-block;
  float: none;
  font-size: 15px;
  vertical-align: top;
  margin-bottom: 0;
}
.links-list-cntr ul li::before {
    display: none;
}
.links-list-cntr li:nth-child(odd) {
  padding-right: 30px;
}
.links-list-cntr li:nth-child(even) {
  padding-left: 30px;
}
.link-item {
  padding: 10px 0;
  border-bottom: 1px solid #9c9b99;
}
.link-item a {
  display: block;
  padding-right: 30px;
  position: relative;
}
.link-item a span {
  display: block;
}
.link-item a span.pdf-text {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #9c9b99;
}
.link-item a span.link-small {
  margin-bottom: 5px;
}
.link-item a svg, .link-item a img, .link-item .link-list-icon {
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
.link-item a:hover span.link-small, .link-item a:hover .link-list-icon {
  color: #31C4C4;
}
.link-item a:hover svg {
  fill: #31C4C4;
}

/*********************************************************************************/

/* Sustainability Pages    */

/*********************************************************************************/

/*********************************************************************************/

/* Sustainability Report PAGE   */

/*********************************************************************************/
.links-list-cntr.links-list__horizontal li {
  width: 100%;
  padding: 0;
}
.links-list-cntr.links-list__horizontal li:first-child .link-item {
  border-top: 1px solid #9c9b99;
}
.links-list-cntr.links-list__horizontal .link-item a {
  padding: 0;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.links-list-cntr.links-list__horizontal .link-item a span {
  display: inline-block;
}
.links-list-cntr.links-list__horizontal .link-small {
  width: 61.47%;
  margin-bottom: 0;
  padding-right: 20px;
}
.links-list-cntr.links-list__horizontal .pdf-text {
  width: 34%;
  padding-right: 15px;
}
.links-list-cntr.links-list__horizontal a .pdf-text span {
  display: block;
}
.links-list-cntr.links-list__horizontal .link-item a img, .links-list-cntr.links-list__horizontal .link-item a svg, .links-list-cntr.links-list__horizontal .link-item a .link-list-icon {
  position: relative;
}
.links-list-cntr .date-text {
    font-size: 12px;
    font-family: 'Futura Bold';
}

/*********************************************************************************/

/* Giving PAGE   */

/*********************************************************************************/
.sustanibility-giving-cntr {
}
.sustanibility-giving-cntr .sub-title, .sustanibility-giving-cntr p {
  margin-bottom: 10px;
}
.sustanibility-giving-cntr .sub-title.seagull {
  margin-top: 30px;
}
.sustanibility-giving-cntr .sub-title.seagull.sub-title__first {
  margin-top: 0;
}
.sustanibility-giving-cntr p a {
  color: #57585a;
  text-decoration: underline;
}
.sustanibility-giving-cntr p a:hover {
  color: #65c4e9;
}
.sustanibility-giving-cntr ul li {
  margin-bottom: 12px;
  padding-left: 20px;
  position: relative;
}
.sustanibility-giving-cntr ul li::before {
  content: '';
  display: inline-block;
  left: 0;
  height: 1px;
  width: 8px;
  top: 8px;
  background: #57585a;
  position: absolute;
}

/*********************************************************************************/

/* Investor Pages    */

/*********************************************************************************/

/*********************************************************************************/

/* Investor Landing PAGE   */

/*********************************************************************************/
.investor-main-content {
  margin: 0 11px;
  padding: 25px 0 35px;
  background: #fff;
}
.investor-main-content .sub-title__big {
  padding-left: 40px;
}
.investors__summary-cntr {
  margin: 0 -10px;
  font-size: 0;
}
.investors__summary-cntr .summary {
  float: none;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}
.summary__details > h2 {
  margin-bottom: 18px;
}
.investor-sub-title {
    margin-bottom: 45px;
    padding-left: 40px;
    padding-right: 40px;
}

/* summary__key-dates */
.summary__key-dates {
  padding-left: 40px;
}
.key__item {
  padding: 9px 0 7px;
  border-top: 1px solid #9c9b99;
}
.key__item:last-child {
  border-bottom: 1px solid #9c9b99;
}
.key__item .link-small {
  line-height: 1.4;
}
.key__item .link-small a:hover {
    color: #31C4C4;
}
.bold-small {
  text-transform: uppercase;
  font-family: 'Futura Bold';
  color: #9c9b99;
  font-size: 12px;
}
.investors__summary-cntr .mobile {
  display: none;
}
.hidden-desktop {
  display: none;
}

/* summary__latest-shares */
.summary__latest-shares {
  padding-left: 35px;
}
.share-detail-cntr {
  max-width: 85.72%;
  margin-top: 40px;
}
.sup-bold {
  font-size: 38px;
  font-family: 'Futura Bold';
  color: #65c4e9;
  line-height: 1;
  padding-bottom: 5px;
  border-bottom: 2px solid #65c4e9;
}
.sup-bold .text-medium {
  font-size: 18px;
}
.sup-bold sup {
  font-size: 21px;
}
.share__info {
  margin-top: 15px;
  position: relative;
  padding-left: 25px;
}
.share__info-image {
  position: absolute;
  left: 0;
  top: 3px;
  width: 15px;
}
.share__info-image.down {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.share__info-image.up {
  -webkit-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  transform: rotate(145deg);
}
.share__info span {
  font-size: 17px;
}
.share__update-info {
  margin-top: 20px;
  font-size: 12px;
}
.share__note-info {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 45px;
  position: relative;
  max-width: 95%;
}
.share__note-info::before {
  content: '*';
  position: absolute;
  left: 0;
  top: 0;
}
.share__note-info a {
  color: #57585a;
  text-decoration: underline;
}
.share__note-info a:hover {
  color: #65c4e9;
}

/* summary__webcast */
.summary__webcast {
  padding-left: 30px;
}
.webcast-detail-cntr > span {
  max-width: 90%;
  display: block;
}
.webcast-item a {
  padding: 0;
}
.webcast-item a span.link-small {
  margin-bottom: 16px;
  line-height: 17px;
}
.webcast-item a img, .webcast-item a .link-list-icon {
  top: auto;
  bottom: 0;
}
.webcasts-list-cntr {
  margin-top: 35px;
  border-top: 1px solid #9c9b99;
  width: 245px;
}
.webcasts-list-cntr .links-list-cntr li:nth-child(odd) {
  padding-right: 0;
  width: 100%;
}
.webcasts-list-cntr .links-list-cntr .link-item .link-list-icon {
  top: auto;
  bottom: 2px;
}
.webcasts-list-cntr .links-list-cntr .link-item a span.link-small {
  line-height: 1.2;
}

/* summary__shareholders */
.summary__shareholders {
  padding-left: 25px;
  padding-right: 10px;
}
.service__section {
  margin-bottom: 20px;
}
.service__section .sub-title {
  margin-bottom: 10px;
}
.contact p {
  margin-bottom: 10px;
}
.contact span {
  display: block;
  margin-bottom: 10px;
}
.service__section a {
  font-weight: bold;
  color: #57585a;
  text-decoration: underline;
}
.contact a {
  text-decoration: none;
}
.service__section a:hover {
  color: #65c4e9;
}

/* investor-navigation-cntr */
.investor-navigation-cntr {
  margin: 8px 11px 0;
  font-size: 0;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
}
.investor-navigation-cntr.mobile {
  display: none;
}
.investor__navigation-block {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}
.investor__navigation-block.block-shareholding {
  padding-right: 4px;
}
.investor__navigation-block.block-performance {
  padding-left: 4px;
}
.investor__block {
  padding: 23px 38px 70px;
  height: 100%;
}
.investor__block h2 {
  margin-bottom: 40px;
}
.block-links-list ul {
  font-size: 0;
  margin: -1.5px;
}
.block-links-list ul li {
  font-size: 18px;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding: 1.5px;
}
.block-links-list ul li a {
  background: #fff;
  display: block;
  padding: 15px;
  height: 80px;
  position: relative;
}
.block-links-list ul li a::before {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  background: #65c4e9;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-links-list ul li a svg {
  width: 11px;
  position: relative;
  margin-right: 8px;
  margin-top: 4px;
  float: left;
  z-index: 2;
  height: 11px;
}
.block-links-list ul li a span {
  color: #31c4c4;
  overflow: hidden;
  display: block;
  z-index: 2;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.performance-block .block-links-list ul li a svg {
  fill: #b9cf58;
}
.performance-block .block-links-list ul li a span {
  color: #b9cf58;
}
.block-links-list ul li a:hover::before {
  height: 100%;
}
.block-links-list ul li a:hover span {
  color: #fff;
}
.block-links-list ul li a:hover svg {
  fill: #fff;
}

/*********************************************************************************/

/* Dividends and Tax PAGE   */

/*********************************************************************************/
.related-content-cntr.seagull-theme h3 {
  color: #31C4C4;
  border-color: #31C4C4;
}
.dividends-tax-cntr > h2 {
  margin-top: 40px;
  margin-bottom: 35px;
}
table {
  border-collapse: collapse;
}
.table__content table {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.table__content table thead {
  border-bottom: 2px solid #9c9b99;
  border-top: 2px solid #9c9b99;
}
.table__content table thead th {
  padding: 10px 8px 6px;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
}
.table__content table thead th:first-child {
  padding-left: 0;
}
.table__content table thead th:last-child, .table__content table thead th:nth-child(4) {
  white-space: nowrap;
}
.table__content table tbody {
}
.table__content table tbody tr {
  border-bottom: 2px solid #9c9b99;
}
.table__content table tbody tr td {
  padding: 15px 8px;
}
.table__content table tbody tr td:first-child {
  padding-left: 0;
  white-space: nowrap;
  width: 30%;
}

/*********************************************************************************/

/* Dividend reinvestment Plan PAGE   */

/*********************************************************************************/
.devidend-reinvestment-plan-cntr .big-para {
  margin-bottom: 50px;
}
.devidend-reinvestment-plan-cntr p a {
  text-decoration: underline;
  color: #57585a;
}
.devidend-reinvestment-plan-cntr p a:hover {
  color: #65c4e9;
}
.devidend-reinvestment-plan-cntr .title-cntr {
  margin-top: 35px;
}
.devidend-reinvestment-plan-cntr .title-cntr .sub-title {
  margin-bottom: 10px;
  color: #ff00ff;
}
.reinvestment-plans-list {
  margin-top: 215px;
}
.reinvestment-plans-list .link-small {
  color: #31C4C4;
}
.reinvestment-plans-list .link-item a:hover span.link-small, .reinvestment-plans-list .link-item a:hover .link-list-icon {
  color: #65c4e9;
}

/*********************************************************************************/

/* FAQ PAGE   */

/*********************************************************************************/
.faq-item {
  margin-bottom: 35px;
}
.faq-item .sub-title {
  margin-bottom: 13px;
}
.faq-item p {
  max-width: 95%;
}
.mb-40 {
  margin-bottom: 40px;
}

/*********************************************************************************/

/* Shareholder Rewards PAGE   */

/*********************************************************************************/
.shareholder-main-cntr > .sub-title__big, .shareholder-main-cntr .big-para {
  margin-bottom: 40px;
}
.shareholder-bottom-cntr .sub-title {
  margin-bottom: 10px;
}
.shareholder-top-cntr p {
  margin-bottom: 10px;
}
.shareholder-top-cntr p a {
  color: #57585a;
  text-decoration: underline;
}
.shareholder-top-cntr p a:hover {
  color: #65c4e9;
}
.shareholder-top-cntr ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.shareholder-top-cntr ul li::before {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 8px;
  background: #57585a;
  top: 8px;
}
.shareholder-bottom-cntr ol, .main-content ol {
  margin-left: 15px;
  padding: 0;
}
.shareholder-bottom-cntr ol li, .main-content ol li {
  margin-bottom: 10px;
  padding-left: 5px;
}
ol {
    padding: 0;
}

/*********************************************************************************/

/* Share Price */

/*********************************************************************************/
.price__items-list .price__item {
  font-size: 18px;
  border-bottom: 2px solid #c7c7c5;
  padding: 14px 0;
}
.price__items-list .price__item:first-child {
  border-top: 2px solid #c7c7c5;
}
.price__items-list .price__item .price__title {
  display: inline-block;
  width: 215px;
}
.change-price-cntr.price-up {
  color: #1fcc27;
}
.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent #1fcc28 transparent;
  display: inline-block;
}
.change-price-cntr.price-down {
  color: #e30013;
}
.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: #e30013 transparent transparent transparent;
  display: inline-block;
}
.data-info-cntr {
  margin-top: 15px;
}
.data-info-cntr span {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}
.nasdaq-chart-cntr {
  margin-top: 60px;
}
.chart-detail {
  width: 100%;
  background: #f5f5f6;
  height: 440px;
}
.nasdaq-chart-cntr span {
  display: block;
  margin-top: 10px;
}

/*********************************************************************************/

/* Board page    */

/*********************************************************************************/
.board-col {
  margin: 0 -4px;
}
.initialization.board-page .col-lg-3, initialization.board-page .col-md-6 {
  float: none;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  padding: 0 4px;
}
.thumb-member-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 114.19%;
  cursor: pointer;
}

/*.initialization.board-page .col-lg-3.col-md-6.col-sm-6 {
padding-right: 4px;
padding-left: 4px;
 }*/
.initialization.board-page .col-lg-3:first-child {
  width: 50%;
}
.relative {
  position: relative;
  font-size: 0;
}
.board-text {
  position: absolute;
  left: 0;
  width: 50%;
  padding: 50px;
}
.board-page .page-title {
  padding: 80px 50px 0 40px;
}
.board-page .gallery-item {
  padding-bottom: 0;
}
.ourboard-wrapper {
  margin: 0 22px;
}
.member-img-wrapper {
  cursor: pointer;
}
.board-page .col-lg-3.col-md-6.col-sm-6 .member-img-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 113.79%;
}
.board-page .member-img-wrapper > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.p-10 {
  padding-top: 10px;
}
.memb-details {
  padding-top: 28px;
  padding-left: 40px;
  padding-bottom: 45px;
  padding-right: 10px;
}
.member-post {
  color: #57585a;
  font-size: 15px;
}
.member-post-wrap {
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
}
.memb-name {
  margin: 0 0 10px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.memb-name:hover {
  color: #114b95;
}
.find-info {
  color: #65c4e9;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.find-info:hover {
  color: #114b95;
}
.find-info:hover svg {
  fill: #114b95;
}
.ourboard svg {
  fill: #65c4e9;
  margin-right: 12px;
}
.board-main-info {
  display: block;
}
.board-main-info {
  width: 100%;
  min-height: 430px;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.initialization .board-main-info .board-logo {
  padding-left: 140px;
  padding-right: 10px;
}
.initialization .board-main-info .text-des {
  padding-left: 45px;
  padding-right: 10px;
}
.board-expand-wapper {
  background: #fff;
  border-top: 8px #f4f4f5 solid;
  border-bottom: 8px #f4f4f5 solid;
}
.board-main-image {
  height: 330px;
  max-width: 289px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.board-expand-wapper .expander-container p {
  color: #57585a;
}
.board-expand-wapper .gallery-trigger-close {
  color: #65c4e9;
  padding-right: 40px;
  cursor: pointer;
}
.ourboard .expander-container p {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 15px;
}
.ourboard .expander-container ul {
    margin-bottom: 15px;
    max-width: 365px;
}
.ourboard .expander-container ul li {
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}
.ourboard .expander-container ul li::before {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    background: #57585a;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 5px;
}
.board-member-dis {
  padding-top: 37px;
}
.board-logo .member-hide img {
  max-width: 300px;
  display: block;
}
.board-member-dis .sub-title {
  margin-bottom: 10px;
}

/*********************************************************************************/

/* accordion*/

/*********************************************************************************/

.accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 10px 5px 10px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  border-bottom: solid 1px #a7a6a4;
  position: relative;
}
.accordion-wrap > .accordion:first-child {
  border-top: solid 1px #a7a6a4;
}
.accordion:after {
  content: "";
  background-image: url(../images/accordion-down.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 12px;
  height: 9px;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion.active, .accordion-wrap > .accordion.active:first-child {
  border-color: #fff;
}
.accordion.active:after {
  content: '';
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  margin-bottom: 40px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.links-list-cntr.links-list__horizontal .year-date-text {
  width: 34%;
  padding-right: 20px;
  font-family: 'Futura Bold';
  text-transform: uppercase;
  color: #57585a;
  font-size: 12px;
  text-align: right;
}
.accordion-wrap .links-list-cntr.links-list__horizontal li .link-item {
  border-top: 0;
}
.accordion-wrap .links-list-cntr.links-list__horizontal li:first-child .link-item {
  border-top: 1px solid #9c9b99;
}
.border-adjust .links-list-cntr.links-list__horizontal li .link-item {
  border-top: 0;
}
.border-adjust .links-list-cntr.links-list__horizontal li:first-child .link-item {
  border-top: 1px solid #9c9b99;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-44 {
  margin-bottom: 44px;
}

/*********************************************************************************/

/* results*/

/*********************************************************************************/

.comp-earning .accordion-wrap h2 {
  margin-top: 20px;
}
.comp-earning .icon-arrow-right {
  padding-right: 8px;
}
.comp-earning .links-list-cntr.links-list__horizontal li:nth-child(1) {

  /*border-top:solid 1px #9c9b99;*/
}

/*********************************************************************************/

/* webcast*/

/*********************************************************************************/

/*.webcast .links-list-cntr.links-list__horizontal .link-item {
 border-top:none;
}*/
.webcast h1 {
  margin-bottom: 20px;
}
.webcast h2 {
  margin: 20px 0;
}
.webcast p {
  margin-bottom: 40px;
}

/*********************************************************************************/

/* Brand expand section */

/*********************************************************************************/


.gallery-item {
  -webkit-transition: height 500ms ease;
  -o-transition: height 500ms ease;
  transition: height 500ms ease;
}
.gallery-expander {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 500ms ease;
  -o-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
}
.gallery-contents {
  position: relative;
}
.gallery-item.active .gallery-contents:after {
  border-bottom-width: 30px;
}
.gallery-contents:after {
  border-bottom-color: #F6F3ED;
}
.gallery-trigger-close {
  text-align: right;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
}
.gallery-trigger-close img {
  margin-right: 10px;
}
.gallery-expander-contents {
  margin: 0 auto;
  padding: 0 4px;
  width: 100%;
}
.gallery-expander-contents > div {
  padding: 27px 0;
}
.brand-expand-wrapper {
  width: 100%;
  min-height: 430px;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.brand-expander-main-cntr .gallery-expander-contents {
  padding: 0 12px;
  border-top: 8px #f4f4f5 solid;
  border-bottom: 8px #f4f4f5 solid;
}
.brand-expander-main-cntr .gallery-expander-contents .gallery-trigger-close {
  padding-right: 40px;
}
.brand-expander-main-cntr .gallery-expander-contents > div {
  padding: 27px 0;
}
.brand-expander-main-cntr .gallery-expander-contents .brand-desc-cntr {
  padding-left: 35px;
}
.expander-container .vocus-btn {
  margin-top: 55px;
  background-color: #f5f5f7 !important;
}
.expander-container .vocus-btn:hover {
  color: #114b95 !important;
}
.expander-container .vocus-btn:hover svg {
  fill: #114b95 !important;
}
.expander-container .brand-logo {
  text-align: center;
}
.expander-container p {
  font-size: 20px;
}
.expander-container .vocus-btn svg {
  height: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.page-right-content .media-page .col-md-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.media-page .media-item .news-img-wrapper {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}
.media-page .media-item .news-img-wrapper img, .media-page .media-item .news-img-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********************************************************************************/

/* Annual Report*/

/*********************************************************************************/
.annual-report-btn::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.annual-report-btn .vocus-btn {
  width: 265px;
  margin-bottom: 30px;
  float: left;
}
.annual-report-btn .vocus-btn:first-child {
  margin-right: 15px;
}

/*********************************************************************************/

/*Presentation*/

/*********************************************************************************/
.presentation span.link-small.moss, .news span.link-small {
  line-height: 18px;
}
.expander-container p {
  color: #f5f5f7;
  max-width: 365px;
  line-height: 1.1;
}
.vocus-btn.skyblue_btn svg {
  fill: #00adee;
}
.skyblue_btn {
  color: #00adee !important;
}

/*********************************************************************************/

/* News */

/*********************************************************************************/
.news-small-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #9c9b99;
  position: relative;
}
.news-small-title a {
  color: #57585a;
}
.news-small-title a i {
    position: relative;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.news-small-title a span {
    line-height: 23px;
    display: inline-block;
    vertical-align: top;
    padding-left: 6px;
}
.news-small-title a:hover, .news-small-title a:hover i {
    color: #31C4C4;
}
.news-date {
  border-bottom: none;
  padding: 25px 0px 28px 0px;
}
.page__news-image {
  height: 265px;
  background: #65c4e9;
  margin: 40px 0;
}
.news-page-list .links-list-cntr.links-list__horizontal {
    margin: 0;
}
.news-page-list .link-item {
  border-top: none !important;
  max-width: 385px;
}
.news-page-list .links-list-cntr.links-list__horizontal .link-item a spanlink-small {
  width: 100%;
  padding-top: 0;
}
.news-page-list .links-list-cntr.links-list__horizontal .link-item a .link-list-icon {
  position: absolute;
  top: 5px;
}
.news-page-list .links-list-cntr.links-list__horizontal .pdf-text {
  width: 100%;
  padding-top: 5px;
}

.news-page-list .links-list-cntr.links-list__horizontal .link-item a span.file-size {
    display: inline-block;
    padding-top: 0;
}

/*********************************************************************************/

/* media   */

/*********************************************************************************/


.media-thumb-img {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
  position: relative;
}
.media-page .media-thumb-img video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.media-page .col-md-4, .board-page .col-md-3 {
  position: static !important;
}
.initialization .col-lg-3, .initialization .col-md-6, .initialization .col-sm-12 {
  position: static;
  padding: 0 5px;
}
.expandable-box-img img, .expandable-box-img video {
  max-width: 300px;
}
.news-title {
  min-height: 85px;
  margin: 0 60px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news-title:hover {
  color: #114b95;
}
.news-details {
  padding: 18px 0 24px 20px;
}
.news-details .find-info {
  margin-top: 4px;
}
.news-details .find-info:hover svg {
  fill: #114b95;
}
.news-media svg {
  fill: #65c4e9;
  margin-right: 12px;
}
.expandable {
  background: #626365;
  box-sizing: border-box;
  clear: both;
  color: #fff;
  min-height: 125px;
  width: 100%;
  font-size: 0;
  position: relative;
}
.expandable-box-img {
  display: block;
  width: 50%;
  float: left;
}
.expandable-box-info {
  display: block;
  width: 50%;
  float: left;
}
.media-page .gallery-expander-contents > expandable {
  background: #626365;
}
.expander-container.news-media-container {
  min-height: initial;
}
.expander-container.news-media-container .vocus-btn {
  margin-top: 20px;
}
.news-media-container .expandable-box-img, .news-media-container .expandable-box-info {
  width: 100%;
  display: block;
  padding-top: 0;
}
.news-media-container .expandable-box-img img, .news-media-container .expandable-box-img video {
  max-width: 100%;
  display: block;
}
.news-media-container .expandable-box-info {
  padding-left: 40px;
  padding-right: 0;
}
.media-page {
  font-size: 0;
}
.media-page > .row {
  margin: 0 -4px;
}
.media-page .media-item {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 15px;
  padding: 0 4px;
}
.expandable-box-info p {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  line-height: 18px;
}
.btn_expandable {
  margin-top: 20px;
  color: #000;
}
.btn_expandable svg {
  fill: #000;
}
.close-button {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  right: 22px;
  top: 21px;
}
.close-button::before {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/expand-close.png) no-repeat;
  width: 9px;
  height: 9px;
  top: 4px;
  right: 44px;
}
.news-details .find-info svg {
  margin-right: 9px;
  fill: #65c4e9;
  height: 9px;
}
.news-details .gallery-expander {
  margin-top: 10px;
}
.media-epxander-main-cntr {
}
.media-epxander-main-cntr .gallery-expander-contents {
  padding: 0 10px;
  border-top: 8px #f4f4f5 solid;
  border-bottom: 8px #f4f4f5 solid;
}
.media-epxander-main-cntr .gallery-trigger-close {
  float: none;
  display: block;
  padding-right: 40px;
}
.expander-container.news-media-container {
    padding-top: 10px;
}
.media-expand-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;  
}
.news-media-container .media-expand-wrapper .expandable-box-img {
  padding-left: 50px;
}
.media-epxander-main-cntr .expandable {
  padding-bottom: 40px;
}

/*********************************************************************************/

/* Contact Us */

/*********************************************************************************/

.investor-main-content.contact-main-content {
  padding: 0;
}
.contact-thumbnails .contact-item > a {
  width: 100%;
  height: 190px;
  text-align: center;
}
.contact-thumbnails a > img {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact-summary {
  padding: 30px 35px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1;
}
.contact-summary svg {
  margin-right: 10px;
  height: 9px;
  margin-bottom: 5px;
  float: left;
  display: inline-block;
}
.contact-summary .info-arrow {
  color: #84d0ed;
}
.contact-summary .info-arrow:hover {
  color: #114b95;
}
.contact-summary .info-arrow:hover svg {
  fill: #114b95;
}
.contact-enquiry {
  background-color: #fff;
  padding: 30px 0 140px;
}
.thumbnail-section {
  background-color: #fff;
  padding-bottom: 35px;
}
.thumbnail-section .compliment-title {
  width: 24.487%;
}
.thumbnail-section .contact-thumbnails {
  width: 75.513%;
}
.thumbnail-section .contact-thumbnails {
  padding: 0;
}
.thumbnail-section .enquiry-title {
  margin-top: 20px;
}
.contact-thumb-list-cntr {
  font-size: 0;
}
.contact-thumbnails .contact-item {
  width: 33.333333%;
  display: inline-block;
  float: none;
  padding-left: 8px;
  vertical-align: top;
  font-size: 15px;
}
.enquiry-section strong {
  display: block;
}
.enquiry-section {
  margin-bottom: 30px;
  padding-left: 20px;
}
.enquiry-section p {
  margin-bottom: 15px;
  font-size: 15px;
}
.enquiry-section h4 {
  font-family: 'Futura Bold';
  color: #65c4e9;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
}
.enquiry-section a {
  color: #57585a;
  font-weight: 700;
  display: block;
  text-decoration: none;
}
.enquiry-section .email {
  display: inline-block;
  text-decoration: underline;
}
.enquiry-section a:hover {
  color: #65c4e9;
}
.sub-title__big.enquiry-title {
  padding-left: 30px;
}

/*********************************************************************************/

/* five-year-history */

/*********************************************************************************/
.five-year-history {
  margin-bottom: 15px;
}
.five-year-history .table__content table thead th {
  font-family: 'Futura Bold';
  color: #b9cf58;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.five-year-history .table__content table tbody tr td:first-child {
  font-family: 'Futura Bold';
  color: #9c9b99;
}
.five-year-history .table__content table tbody tr td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.five-year-history .table__content table tr {
  font-size: 12px;
}
.five-year-history .table__content table strong {
  text-transform: uppercase;
}

/*nabin css */
.overlay_container_menu, .overlay_container_menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9001;
  background-color: rgba(87, 88, 90, .9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.overlay_container_menu.open, .overlay_container_menu_mobile.open {
  visibility: visible;
  opacity: 1;
}
.overlay_container_menu_mobile {
  background-color: rgba(87, 88, 90, .5);
}

/*********************************************************************************/

/* Privacy Statement */

/*********************************************************************************/
.privacy-content {
  padding: 0 40px;
}
.privacy-content h1, .privacy-content h2, .privacy-content h3, .privacy-content .sub-title__big, .privacy-content .sub-title, .privacy-content .page__title{
    padding: 0;
    margin-bottom: 20px;
}
.privacy-content p {
    margin-bottom: 15px;
    line-height: 1.3;
}
.privacy-content ul {
    line-height: 1.3;
    margin-bottom: 20px;
}
.privacy-content ul li{
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}
.privacy-content ul li::before{
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    background: #57585a;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 5px;
}
.privacy-content ol, ol {
    margin-left: 15px;
    margin-bottom: 20px;
}
.privacy-content ol li, ol li {
    margin-bottom: 5px;
}

/*********************************************************************************/

/* Privacy Statement End */

/*********************************************************************************/

.links-list-cntr.links-list__horizontal {
  margin-top: 20px;
}
.main-content.accordion-wrap {

}
.main-content.accordion-wrap.news {
    margin-top: 0;
}
.Results .accordion-wrap .accordion, .Results .links-list-cntr .link-item .link-small, .Results .links-list-cntr .link-item .link-list-icon,
 .Webcasts .accordion-wrap .accordion, .Webcasts .links-list-cntr .link-item .link-small, .Webcasts .links-list-cntr .link-item .link-list-icon,
 .ASX.Announcements .accordion-wrap .accordion, .ASX.Announcements .links-list-cntr .link-item .link-small, .ASX.Announcements .links-list-cntr .link-item .link-list-icon,
 .Annual.Reports .accordion-wrap .accordion, .Annual.Reports .links-list-cntr .link-item .link-small, .Annual.Reports .links-list-cntr .link-item .link-list-icon,
 .Presentations .accordion-wrap .accordion, .Presentations .links-list-cntr .link-item .link-small, .Presentations .links-list-cntr .link-item .link-list-icon {
  color: #b9cf58;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Results .links-list-cntr .link-item a:hover .link-small, .Results .links-list-cntr .link-item a:hover .link-list-icon,
.Webcasts .links-list-cntr .link-item a:hover .link-small, .Webcasts .links-list-cntr .link-item a:hover .link-list-icon,
.ASX.Announcements .links-list-cntr .link-item a:hover .link-small, .ASX.Announcements .links-list-cntr .link-item a:hover .link-list-icon,
.Annual.Reports .links-list-cntr .link-item a:hover .link-small, .Annual.Reports .links-list-cntr .link-item a:hover .link-list-icon, 
.Presentations .links-list-cntr .link-item a:hover .link-small, .Presentations .links-list-cntr .link-item a:hover .link-list-icon {
  color: #65c4e9;
}

.Shareholder.Rewards .accordion-wrap .accordion, .Shareholder.Rewards .links-list-cntr .link-item .link-small, .Shareholder.Rewards .links-list-cntr .link-item .link-list-icon, 
.Dividend.Reinvestment.Plan .accordion-wrap .accordion, .Dividend.Reinvestment.Plan .links-list-cntr .link-item .link-small, .Dividend.Reinvestment.Plan .links-list-cntr .link-item .link-list-icon,
.Annual.General.Meetings .accordion-wrap .accordion, .Annual.General.Meetings .links-list-cntr .link-item .link-small, .Annual.General.Meetings .links-list-cntr .link-item .link-list-icon {
  color: #31C4C4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.Shareholder.Rewards .links-list-cntr .link-item a:hover .link-small, .Shareholder.Rewards .links-list-cntr .link-item a:hover .link-list-icon,
.Dividend.Reinvestment.Plan .links-list-cntr .link-item a:hover .link-small, .Dividend.Reinvestment.Plan .links-list-cntr .link-item a:hover .link-list-icon,
.Annual.General.Meetings .links-list-cntr .link-item a:hover .link-small, .Annual.General.Meetings .links-list-cntr .link-item a:hover .link-list-icon {
  color: #65c4e9;
}
.n {
  color: #31C4C4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.n {
  color: #65c4e9;
}
.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
  padding-right: 17px;
}