﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutUsContentPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var parentPage = CurrentPage.Parent;
    string rootPageDocumentAlias = "Home";
    var menuItems = parentPage.Name != rootPageDocumentAlias ? parentPage.Children.Where("showInLeftMenu") : CurrentPage.Children.Where("showInLeftMenu");
}

<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@CurrentPage.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr clearfix">
                <div class="col-sm-3 page-left-navigation">
                    <div class="left__nav-cntr">
                        <h3 class="small-title vocus_blue">@(parentPage.Name == rootPageDocumentAlias ? CurrentPage.Name : parentPage.Name)</h3>
                        <ul>
                            @foreach (var childPage in menuItems)
                            {
                                if ((int)CurrentPage.Id == (int)childPage.Id)
                                {
                                    <li class="active">
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- /.page-left-navigation -->
                <div class="col-sm-9 page-right-content about-inner-main-cntr">
                    <div class="page__main-content">
                        @if (!string.IsNullOrEmpty(Model.Content.HeroImage))
                        {
                            <div class="page__hero-image" style="background-image: url(@Umbraco.Media(Model.Content.HeroImage).url);"></div>
                        }
                        <div class="main__content-cntr clearfix">
                            <div class="content__top clearfix">
                                <div class="content__left">
                                    <div class="main-content">
                                        @Model.Content.DescriptionContent
                                    </div>
                                </div>
                                <!-- /.content__left -->
                                @if (Model.Content.RelatedLink != null)
                                {
                                    <div class="content__right">
                                        <div class="related-content-cntr desktop">
                                            @{ Html.RenderPartial("RelatedLink", Model.Content.RelatedLink.ToObject<List<dynamic>>()); }
                                        </div>
                                        <!-- /.related-content-cntr -->
                                    </div>
                                                }
                                <!-- /.content__right -->
                            </div>
                            <!-- /.content__top -->
                            <div class="full-width-content">
                                @if (Model.Content.ImageTextContent.Fieldsets.Count() != 0)
                                {
                                    <div class="about-icons-list">
                                        <ul>
                                            @foreach (var fieldset in Model.Content.ImageTextContent)
                                            {

                                                <li>
                                                    <div class="about-item"><img src="@Umbraco.Media(fieldset.GetValue("imageContent")).url" alt="" /> <span>@Html.Raw(fieldset.GetValue("textContent"))</span></div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="final-content business-today-final">
                                    @Model.Content.LastContent
                                </div>

                                @if (Model.Content.ImageTextContent2.Fieldsets.Count() != 0)
                                {
                                    <div class="values-list-cntr">
                                        @foreach (var fieldset in Model.Content.ImageTextContent2)
                                        {

                                            <div class="value__item clearfix">
                                                <div class="value__item-image"><img src="@Umbraco.Media(fieldset.GetValue("imageContent")).url" alt="Alternate Text" /></div>
                                                <div class="value__item-content">
                                                    @Html.Raw(fieldset.GetValue("textContent"))
                                                </div>
                                            </div>
                                        }
                                    </div>

                                }                                

                                @if (Model.Content.PdfLinkFile.Fieldsets.Count() != 0)
                                {
                                    <div class="links-list-cntr">
                                        @{ Html.RenderPartial("PdfLink", Model.Content.PdfLinkFile); }
                                    </div>
                                            }

                            </div>
                            <!-- /.full-width-content -->
                            @if (Model.Content.RelatedLink != null)
                            {
                                <div class="related-content-cntr mobile">
                                    @{ Html.RenderPartial("RelatedLink", Model.Content.RelatedLink.ToObject<List<dynamic>>()); }
                                </div>
                                        }
                            <!-- /.related-content-cntr mobile -->
                        </div>
                        <!-- /.main__content-cntr -->
                    </div>
                    <!-- /.page__main-content -->
                </div>
                <!-- /.page-left-navigation -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
<!-- /.main -->