﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutUsBoardPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var MemeberList = Model.Content.Children<BoardMemberItem>().ToList();
}
<main class="main main-cntr">  
        <div class="container">
            <div class="row">
                <section class="page-top-cntr">
                    <h1 class="page__title vocus_blue">@Model.Content.Name</h1>
                    @{ Html.RenderPartial("BreadcrumbNavigation"); }
                    <!-- /.page__breadcrumb -->
                </section>

                <div class="">
                    <div class="ourboard-wrapper white-bg clearfix">
                        <div class="ourboard">
                            <div class="initialization board-page">
                                <div class="row relative board-col">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <h1 class="page-title seagull">@Model.Content.DescriptionContent</h1>
                                    </div>
                                    <!-- /.board-text -->
                                    @foreach (var member in MemeberList)
                                    {
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="gallery-item">
                                                <div class="gallery-contents clearfix">
                                                    <div class="gallery-trigger">
                                                        @if (!string.IsNullOrEmpty(member.MemberPhoto))
                                                        {                                                           
                                                            <div class="thumb-member-img"  alt="@member.Name" style="width: 100%; background-image:url('@Umbraco.Media(member.MemberPhoto).Url')"></div>
                                                        }

                                                        else
                                                        {
                                                            <div class="thumb-member-img" alt="@member.Name" style="width: 100%; background-image:url('http://placehold.it/275x315?text=No')"></div>                                                       
                                                        }
                                                    </div>
                                                    <!-- /.member-img-wrappe -->
                                                    <div class="memb-details">
                                                        <h3 class="memb-name sub-title seagull gallery-trigger">@member.Name</h3>
                                                        <div class="member-post-wrap">
                                                            <p class="member-post">@member.Position</p>
                                                        </div>
                                                        <a href="#section2" class="find-info gallery-trigger">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff">
                                                                <g>
                                                                    <path d="M0 587h1238.5v130H0z"></path>
                                                                    <path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path>
                                                                    <path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path>
                                                                </g>
                                                            </svg><span>Info</span>
                                                        </a>
                                                    </div>
                                                    <!-- /.memb-details -->
                                                </div>
                                                <div class="gallery-expander">
                                                    <div class="gallery-expander-contents">
                                                        <div class="board-expand-wapper clearfix">
                                                            <div class="gallery-trigger-close close"><img src="/images/close-btn-board.png">Close</div>
                                                            <div class="expander-container">
                                                                <div class="board-main-info">
                                                                    <div class="col-md-6 board-logo">
                                                                        @if (!string.IsNullOrEmpty(member.MemberPhoto))
                                                                        {
                                                                            <div class="member-hide">
                                                                                <div class="member-expanded-img">
                                                                                    <div class="board-main-image" alt="@member.Name" style="width: 100%; background-image:url('@Umbraco.Media(member.MemberPhoto).Url')"></div>                                                                                    
                                                                                </div>                                                                           
                                                                            </div>                                   }

                                                                        else
                                                                        {
                                                                            <div class="member-hide thumb-expand-member-img"> <img src="http://placehold.it/275x315?text=No Image" alt="@member.Name"></div>
                                                                        }
                                                                        <div class="board-member-dis">
                                                                            <h3 class="sub-title seagull">@member.Name</h3>
                                                                            <p class="member-post">@member.Position</p>
                                                                            <p class="member-post">@member.AcademicQualification</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 text-des">
                                                                    <p> @member.AboutDescription </p>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>   
</main>
    <!-- /.main -->

