﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var home = Model.Content.AncestorOrSelf<Home>(1);
    var brandItem = home.Children<ContentModels.OurBrands>().FirstOrDefault();
}
<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <div class="page-top-cntr">
                <h1 class="page__title vocus_blue">Contact</h1>
                <div class="page__breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr contact-main-cntr clearfix">
                <div class="investor-main-content contact-main-content">
                    <div class="contact-top">
                        <div class="contact-enquiry clearfix">
                            <div class="col-md-3">
                                <h3 class="sub-title__big enquiry-title">General Enquiries</h3>
                            </div>
                            <div class="col-md-9">
                                @Model.Content.Content

                            </div>
                        </div>
                    </div>
                    <div class="contact-bottom">
                        <div class="clearfix thumbnail-section">
                            <div class="col-md-3 compliment-title">
                                <h3 class="sub-title__big enquiry-title">COMPLIMENT OR COMPLAIN</h3>
                            </div>
                            <div class="col-md-9 contact-thumbnails">
                                <div class="contact-thumb-list-cntr">
                                    @if (brandItem.Children<ContentModels.BrandItems>().Any())
                                    {
                                        foreach (var item in brandItem.Children<ContentModels.BrandItems>())
                                        {
                                            <div class="contact-item">
                                                <a href="@item.BrandUrl" target="_blank" title="@item.Name" class="brand-skyblue" style="background-color:#@item.BackgroundColour">
                                                    @if (!string.IsNullOrEmpty(item.BrandImage))
                                                    {
                                                        <img src="@Umbraco.Media(item.BrandImage).Url" alt="@item.Name" />
                                                    }
                                                </a>
                                                <div class="contact-summary">
                                                    <a href="@item.BrandUrl" target="_blank" class="info-arrow" title="@item.Name">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#84d0ed"><g><path d="M0 587h1238.5v130H0z"></path><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path></g></svg>
                                                        <span>contact @item.Name</span>
                                                    </a>
                                                </div>

                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.privacy-main-content -->
            </section>
            <!-- /.page-content-cntr -->
        </div>      
    </div>
</main>