﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
}
<!-- Main -->
<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <div id="hero-slider" class="slider-container">
                <div id="c4811" class="carousel-container">
                    <div class="arrows">
                        <div class="arrow next" id="arrow-next">
                            <div class="invisible-button"></div>
                            <a href="#" aria-label="next" role="button">
                                <svg version="1.1" id="next-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="32px" height="32px" viewBox="584 584 32 32" enable-background="new 584 584 32 32" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #114b95;
                                    }

                                    .st1 {
                                        fill: none;
                                        stroke: #b3b3b3;
                                        stroke-width: 1;
                                        stroke-miterlimit: 10;
                                        enable-background: new;
                                    }

                                    .st2 {
                                        fill: none;
                                        stroke: #000;
                                        stroke-width: 2;
                                        stroke-miterlimit: 10;
                                        stroke-dasharray: 2000, 2000;
                                        stroke-dashoffset: 0;
                                    }
                            </style>
                        <circle id="circle" class="st1" cx="600" cy="600" r="15" />
                                <path id="progress-loader" class="st2" d="M600,585.052c8.24,0,14.982,6.742,14.982,14.982
	c0,8.24-6.674,14.914-14.982,14.914s-14.982-6.742-14.982-14.982C585.018,591.726,591.76,585.052,600,585.052" />
                                <path id="arrow" class="st0" d="M608,600l-1.114-1.148l-6.086,6.084v-12.934h-1.6v12.934l-6.069-6.066L592,600
	c2.929,2.927,5.197,5.196,7.999,7.998L608,600z" />
                            </svg>


                            </a>
                        </div>
                        <div class="arrow prev" id="arrow-prev">
                            <div class="invisible-button"></div>
                        </div>
                    </div>
                    <!-- end .arrows -->
                    <div id="hero--slider" class="carousel " data-cycle-slides="> div.slide" data-cycle-timeout="8000" data-cycle-speed="1000" data-cycle-center-horz=true data-cycle-fx=scrollVertUp data-cycle-easing="easeInOutQuad" data-cycle-pager="#cycle-pager-4811" data-cycle-next="#arrow-next" data-cycle-prev="#arrow-prev" data-cycle-auto-height="calc" data-cycle-log="false">
                        @foreach (var fieldset in Model.Content.Slider)
                        {
                            <div class="slide">
                                <div class="collapse clearfix">
                                    <div class="columns">
                                        <section class="big-header bh__height-size-3 text-light bh__video">
                                            <div class="bh__background bh__background-color " style="background-color: #0a789a;">
                                                <div class="bh__background-image bh__height-size-3" style="z-index: 0; background-image: url(@Umbraco.Media(fieldset.GetValue<string>("image")).url);"></div>
                                            </div>
                                            <div class="bh__content-wrap">
                                                <div class="bh__content ">
                                                    <div class="bh__content-inner-wrap">
                                                        <h1 class="bh__title ">
                                                            <span class="line-wrap">
                                                                <span class="line">@(fieldset.GetValue<IHtmlString>("text"))</span>
                                                            </span>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- end .feature-ce -->
                                    </div>
                                    <!-- end .columns -->
                                </div>
                                <!-- end .row -->
                            </div>
                                <!-- end .slide -->
                        }
                    </div>

                    <div id="cycle-pager" class="cycle-pager"></div>
                </div>



            </div>
            <!-- /#hero-slider -->
            <div class="homepage-info-cntr">
                <div class="info-box info__infrastructure">
                    <h2 class="sub-title maximum_blue_green">@Model.Content.TaglineTitle</h2>
                    <p class="big-para">@Model.Content.TaglineDescription</p>
                    <a href="@(Model.Content.TaglineUrl != null ? library.NiceUrl((int)Model.Content.TaglineUrl) : "#")" class="vocus-btn maximum_blue_green_bg btn__find-out">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff">
                            <g>
                                <path d="M0 587h1238.5v130H0z" />
                                <path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" />
                                <path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" />
                            </g>
                        </svg>
                        <span>Find out more</span>
                    </a>
                </div>
                <!-- /.info__infrastructure -->
                <div class="info-box info__news__inverstor">
                    <div class="info__news-block">
                        <h2 class="sub-title seagull">Latest News</h2>
                        <div class="news-list-cntr">
                            <ul>
                                @foreach (var item in Model.Content.NewsItem.Take(3))
                                {
                                    bool isExternalLink = item.GetValue<bool>("IsExternalUrl");
                                    var _href = isExternalLink == true ? item.GetValue<string>("externalUrlLink") : library.NiceUrl(item.GetValue<int>("urlLink"));
                                    DateTime createdDate = Convert.ToDateTime(item.GetValue<DateTime>("newsDate"));
                                    var dateFormatted = String.Format("{0:dd MMMM, yyyy}", createdDate);
                                    var _date = createdDate == DateTime.MinValue ? String.Format("{0:dd MMMM, yyyy}", createdDate) : dateFormatted;  // "8 08 008 2008"   year
                                    <li class="news-list-item">
                                        <a href="@_href" target="@(isExternalLink ? "_blank" : "")">
                                            <h4>@(item.GetValue<string>("title"))</h4>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff">
                                                <g>
                                                    <path d="M0 587h1238.5v130H0z" />
                                                    <path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" />
                                                    <path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" />
                                                </g>
                                            </svg>
                                        </a>
                                        <span class="date">@_date</span>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- /.news-list-cntr -->
                    </div>
                    <!-- /.info__news-block -->
                    <div class="info__investor-block">
                        <h2 class="sub-title moss">@Model.Content.TopLeftContentTitle</h2>
                        <p>@Model.Content.TopLeftContentDescription</p>
                        <a href="@Model.Content.TopLeftContentUrl" class="vocus-btn moss_bg btn__visit-investor">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff">
                                <g>
                                    <path d="M0 587h1238.5v130H0z" />
                                    <path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" />
                                    <path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" />
                                </g>
                            </svg>
                            <span>Visit investor center</span>
                        </a>
                    </div>
                    <!-- /.info__investor-block -->
                </div>
                <!-- /.info__news-inverstor -->
            </div>
            <!-- /.homepage-info-cntr -->
            <div class="homepage-network-cntr clearfix">
                <div class="col-sm-3 network__info">
                    <h2 class="sub-title vocus_blue">@Model.Content.BottomContentTitle</h2>
                    <p>@Model.Content.BottomContentDescription</p>
                    <a href="@(Model.Content.BottomContentUrl != null ? library.NiceUrl((int)Model.Content.BottomContentUrl) : "#")" class="vocus-btn vocus_blue_bg btn__find-more-network"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff"><g><path d="M0 587h1238.5v130H0z" /><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" /><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" /></g></svg><span>Find out more</span></a>
                </div>
                <!-- /.network__info -->
                <div class="col-sm-9 network__image">
                    @if (!string.IsNullOrEmpty(Model.Content.VocusNetworkImage))
                    {
                        <img src="@Umbraco.Media(Model.Content.VocusNetworkImage).Url" alt="Network Image">
                    }
                    else
                    {
                        <img src="http://placehold.it/838x471?text=No Image" alt="Network Image">
                    }
                </div>
                <!-- /.network__image -->
            </div>
            <!-- /.homepage-network-cntr -->
        </div>
    </div>
</main>
<!-- /Main -->