﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InvestorsReportContentPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;

@{
    Layout = "MasterLayout.cshtml";
    var parentPage = (dynamic)CurrentPage.Parent;
    var content = Umbraco.Content(CurrentPage.Id);
    //  var details = Model.Content.Children<InvestorSubMenu>().GroupBy(m => new { m.CreateDate.Year }).OrderByDescending(m=>m.Key.Year).ToList();
    var year = Model.Content.InvestorSubMenuList.GroupBy(m => m.AsxYear).OrderByDescending(m => m.Key).ToList();
}

<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@CurrentPage.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr clearfix">
                <div class="col-sm-3 page-left-navigation">
                    <div class="left__nav-cntr">
                        <h3 class="small-title vocus_blue">@parentPage.Name</h3>
                        <ul>
                            @foreach (var childPage in parentPage.Children.Where("showInLeftMenu"))
                            {
                                if ((int)CurrentPage.Id == (int)childPage.Id)
                                {
                                    <li class="active">
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- /.page-left-navigation -->
                <div class="col-sm-9 page-right-content">
                    <div class="page__main-content">
                        <div class="main__content-cntr clearfix">
                            <div class="content__left comp-earning">
                                @if (CurrentPage.Id != 1117)
                                {
                                    <div class="main-content">
                                        @Umbraco.Field("BodyContent")

                                        @if (Model.Content.PdfLinkUnExpandable.Fieldsets.Count() != 0)
                                        {
                                            <div class="links-list-cntr links-list__horizontal">
                                                @{ Html.RenderPartial("PdfLink", Model.Content.PdfLinkUnExpandable); }
                                            </div>
                                                    }

                                        @if (Model.Content.PdfLinkFile.Fieldsets.Count() != 0)
                                        {
                                            { Html.RenderPartial("PdfLinkWithContent", Model.Content.PdfLinkFile); }
                                        }
                                        @Umbraco.Field("lastContent", recursive: true)

                                    </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="main-content">
                                                            @Html.Raw(Umbraco.Field("BodyContent"))
                                                            <div class="main-content accordion-wrap">
                                                            @foreach (var years in year)
                                                            {
                                                                if (@years.Key == "Not Available")
                                                                {
                                                                    <span>Please try again later. The data is not provided from server to your connection.</span>
                                                                }
                                                                else
                                                                {

                                                                    <button class="accordion page-title moss">@years.Key</button>

                                                                    <div class="panel">
                                                                        <div class="mb-70">
                                                                            <div class="links-list-cntr links-list__horizontal">
                                                                                <ul>
                                                                                    @foreach (var item in years)
                                                                                    {
                                                                                        <li>
                                                                                            <div class="link-item">
                                                                                                <a href="@item.PdfUrl" target="_blank">
                                                                                                    <span class="link-small">@item.PdfMainTitle</span>
                                                                                                    <span class="pdf-text">
                                                                                                        <span class="date-text">@item.DisplayDate</span>
                                                                                                        <span class="file-size">@item.PdfTitle (@item.Size KB)</span>
                                                                                                    </span>
                                                                                                    <span class="icon-arrow-down-circle seagull link-list-icon"></span>
                                                                                                </a>
                                                                                            </div>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                }

                                                            }
                                                                </div>
                                                        </div>


                                                    }

                            </div>
                            <!-- /.content__left -->
                            <div class="content__right">
                                @if (Model.Content.RelatedLinks != null)
                                {
                                    <div class="related-content-cntr seagull-theme">
                                        @{ Html.RenderPartial("RelatedLink", Model.Content.RelatedLinks.ToObject<List<dynamic>>()); }
                                    </div>
                                            }
                                <!-- /.related-content-cntr -->
                            </div>
                            <!-- /.content__right -->
                        </div>
                        <!-- /.main__content-cntr -->
                    </div>
                    <!-- /.page__main-content -->
                </div>
                <!-- /.page-left-navigation -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
<!-- /.main -->