﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InvestorsMainPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var investorCategory = Model.Content.Children<InvestorSubMenu>().GroupBy(x => new { x.Name, x.CreateDate }).ToList();
}

<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@Model.Content.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr investor-landing-cntr clearfix">
                <div class="investor-main-content">
                    <h2 class="sub-title__big">WELCOME TO THE VOCUS <br /> Group INVESTOR CENTRE</h2>
                    <p class="big-para investor-sub-title">Our Investor Centre provides up-to-date information on Vocus, including recent company releases, dividend history and shareholder services.</p>
                    <div class="investors__summary-cntr clearfix">
                        <div class="col-sm-3 desktop summary">
                            @if (Model.Content.KeyDates != null)
                            {
                                <div class="summary__details summary__key-dates">
                                    <h2 class="sub-title seagull">Key Dates</h2>
                                    <div class="key-list-cntr">
                                        @foreach (var item in Model.Content.KeyDates)
                                        {
                                            DateTime date = item.GetValue<DateTime>("NewsDate");
                                            <div class="key__item">
                                                <h3 class="link-small">
                                                    @if (string.IsNullOrEmpty(item.GetValue<string>("externalUrlLink")) && string.IsNullOrEmpty(item.GetValue<string>("urlLink")))
                                                    {
                                                        @Html.Raw(item.GetValue("title"))
                                                    }
                                                    else
                                                    {
                                                        <a class="seagull" target="@(item.GetValue<bool>("isExternalUrl") ? "_blank" : "")" href=@(item.GetValue<bool>("isExternalUrl") ? item.GetValue<string>("externalUrlLink") :library. NiceUrl(item.GetValue<int>("urlLink")))> @Html.Raw(item.GetValue("title"))  </a>
                                                    }

                                                </h3>
                                                <span class="bold-small">@string.Format("{0:dd MMMM yyyy}", date)</span>
                                            </div>
                                        <!-- /.key__item -->

                                        }
                                    </div>





                                </div>
                            }
                        </div>
                        <!-- /.summary__key-dates desktop -->

                        <div class="col-sm-3 summary">
                            <div class="summary__details summary__latest-shares">
                                <h2 class="sub-title seagull">Latest Share Price</h2>
                                @if (Model.Content.LastTrade != "Error in extracting data.")
                                {
                                    <div class="share-detail-cntr">
                                        <h3 class="sup-bold"><sup>$</sup>@Model.Content.LatestSharePrice<span class="text-medium">AUD</span></h3>
                                        <div class="share__info">
                                            @if (Model.Content.ShareInformation.Contains("-"))
                                            {
                                                <img class="share__info-image down" src="~/images/arrow-down.svg" />
                                                <span>@Model.Content.ShareInformation | @Model.Content.ShareInfoPercentage</span>
                                            }
                                            else
                                            {
                                                <img class="share__info-image up" src="~/images/arrow-down.svg" />
                                                <span>@Model.Content.ShareInformation | @Model.Content.ShareInfoPercentage</span>
                                            }

                                        </div>
                                        <div class="share__update-info">
                                            <span>Last Trade: @Model.Content.LastTrade</span>
                                        </div>
                                        <div class="share__note-info">
                                            <span>Share prices are taken from the <a href="http://xml.corporate-ir.net/irxmlclient.asp?compid=160918&amp;reqtype=FCEarningsEstimatesQuote" target="_blank">ASX</a> data service, and are at least 20 minutes delayed.</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="share-detail-cntr">
                                        <div class="share__note-info">
                                            <span>Please try again later. The data is not available from server.</span>
                                        </div>
                                        <div class="share__note-info">
                                            <span>Share prices are taken from the <a href="http://xml.corporate-ir.net/irxmlclient.asp?compid=160918&amp;reqtype=FCEarningsEstimatesQuote" target="_blank">ASX</a> data service, and are at least 20 minutes delayed.</span>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <!-- /.summary__latest-shares -->

                        <div class="hidden-desktop">
                            <div class="investor-navigation-cntr mobile clearfix">
                                @foreach (var item in investorCategory)
                                {
                                    if (item.Key.Name == "My Shareholding")
                                    {
                                <div class="investor__navigation-block block-shareholding">
                                    <div class="investor__block maximum_blue_green_bg shareholding-block">
                                        <h2 class="title-medium">@item.Key.Name</h2>
                                        <div class="block-links-list">
                                            <ul>
                                                @foreach (var subItem in item)
                                                        {
                                                            foreach (var subCategory in subItem.Children)
                                                            {
                                                        <li>
                                                            <a href="@subCategory.Url">
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#31c4c4"><path d="M0 587h1238.5v130H0z" /><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" /><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" /></svg>
                                                                <span class="sub-title">@subCategory.Name</span>
                                                            </a>
                                                        </li>
                                                            }

                                                        }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                    }
                                    else
                                    {
                                <div class="investor__navigation-block block-performance">
                                    <div class="investor__block moss_bg performance-block">
                                        <h2 class="title-medium">@item.Key.Name</h2>
                                        <div class="block-links-list">
                                            <ul>
                                                @foreach (var subItem in item)
                                                        {
                                                            foreach (var subCategory in subItem.Children)
                                                            {
                                                        <li>
                                                            <a href="@subCategory.Url">
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#31c4c4"><path d="M0 587h1238.5v130H0z" /><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" /><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" /></svg>
                                                                <span class="sub-title">@subCategory.Name</span>
                                                            </a>
                                                        </li>
                                                            }

                                                        }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                    }
                                    <!-- /.investor__navigation-block -->
                                }
                            </div>
                            <!-- /.investor-navigation-cntr mobile -->

                            <div class="col-sm-3 mobile bb-10 summary">
                                <div class="summary__details summary__key-dates">
                                    <h2 class="sub-title seagull">Key Dates</h2>
                                    <div class="key-list-cntr">
                                        @foreach (var item in Model.Content.KeyDates)
                                        {
                                            DateTime date = Convert.ToDateTime(item.GetValue("NewsDate"));
                                            <div class="key__item">
                                                    <h3 class="link-small"><a class="seagull" target="@(item.GetValue<bool>("isExternalUrl") ? "_blank" : "")" href=@(item.GetValue<bool>("isExternalUrl") ? item.GetValue<string>("externalUrlLink") :library. NiceUrl(item.GetValue<int>("urlLink")))>@Html.Raw(item.GetValue("title"))</a></h3>
                                                    <span class="bold-small">@String.Format("{0:dd MMMM yyyy}", @date)</span>
</div>
                                            <!-- /.key__item -->
                                        }
                                    </div>



                                </div>
                            </div>
                            <!-- /.summary__key-dates mobile -->
                        </div>
                        <!-- /.hidden-desktop -->

                        <div class="col-sm-3 bb-10 summary">
                            <div class="summary__details summary__webcast">
                                <h2 class="sub-title seagull">Webcast</h2>
                                <div class="webcast-detail-cntr">
                                    <span>@Model.Content.BodyContent</span>
                                    <div class="webcasts-list-cntr">
                                        @*<ul>
                                                <li>
                                                    <div class="link-item webcast-item">
                                                        <a href="#" target="_blank">
                                                            <span class="link-small">PRE-AGM CONFERENCE CALL WITH GEOFF HORTH CEO</span>
                                                            <span class="pdf-text">Listen to webcast <span>(362 KB)</span></span>
                                                            <i class="icon-arrow-right-circle seagull link-list-icon"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>*@
                                        @if (Model.Content.PdfLinkUnExpandable != null)
                                        {
                                            { Html.RenderPartial("PdfLink", Model.Content.PdfLinkUnExpandable); }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.summary__webcast -->
                        <div class="col-sm-3 summary">
                            <div class="summary__details summary__shareholders">
                                <h2 class="sub-title seagull">Shareholder Services</h2>
                                <div class="services-cntr">
                                    <div class="service__section contact">
                                        <h2 class="sub-title dark_grey">Contact</h2>
                                        <p>Contact our share registry Computershare Investor Services on</p>
                                        <a href="tel:#">1300 850 505</a>
                                        <span>(for callers within Australia)</span>
                                        <span>and</span>
                                        <a href="tel:#">+61 3 9415 4000</a>
                                        <span>(for callers outside Australia)</span>
                                    </div>
                                    <!-- /.service__section -->
                                    <div class="service__section holding">
                                        <h2 class="sub-title dark_grey">Holding Details</h2>
                                        <p><span>To view or update your holding details online, please go to:</span> <a href="www.investorcentre.com" target="_blank">www.investorcentre.com</a></p>
                                    </div>
                                    <!-- /.service__section -->
                                    <div class="service__section queries">
                                        <h2 class="sub-title dark_grey">queries</h2>
                                        <p><span>Queries for the Vocus Investor Relations Team should be emailed to</span> <a href="mailto:investor@vocus.com.au" target="_blank">investor@vocus.com.au</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.summary__summary__shareholders -->
                    </div>
                    <!-- /.investors__summary-cntr -->
                </div>
                <!-- /.investor-main-content -->
                <div class="investor-navigation-cntr desktop clearfix">
                    @foreach (var item in investorCategory)
                    {
                        if (item.Key.Name == "My Shareholding")
                        {
                            <div class="investor__navigation-block block-shareholding">
                                <div class="investor__block maximum_blue_green_bg shareholding-block">
                                    <h2 class="title-medium">@item.Key.Name</h2>
                                    <div class="block-links-list">
                                        <ul>
                                            @foreach (var subItem in item)
                                            {
                                                foreach (var subCategory in subItem.Children)
                                                {
                                                    <li>
                                                        <a href="@subCategory.Url">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#31c4c4"><path d="M0 587h1238.5v130H0z" /><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" /><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" /></svg>
                                                            <span class="sub-title">@subCategory.Name</span>
                                                        </a>
                                                    </li>
                                                }

                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="investor__navigation-block block-performance">
                                <div class="investor__block moss_bg performance-block">
                                    <h2 class="title-medium">@item.Key.Name</h2>
                                    <div class="block-links-list">
                                        <ul>
                                            @foreach (var subItem in item)
                                            {
                                                foreach (var subCategory in subItem.Children)
                                                {
                                                    <li>
                                                        <a href="@subCategory.Url">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#31c4c4"><path d="M0 587h1238.5v130H0z" /><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333" /><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655" /></svg>
                                                            <span class="sub-title">@subCategory.Name</span>
                                                        </a>
                                                    </li>
                                                }

                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                                <!-- /.investor__navigation-block -->
                    }
                </div>
                <!-- /.investor-navigation-cntr desktop -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
