﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayout.cshtml";
    var parentPage = (dynamic)CurrentPage.Parent;
}
<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@CurrentPage.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr clearfix">
                <div class="col-sm-3 page-left-navigation">
                    <div class="left__nav-cntr">
                        <h3 class="small-title vocus_blue">About us</h3>
                        <ul>
                            @foreach (var childPage in parentPage.Children.Where("showInLeftMenu"))
                            {
                                if ((int)CurrentPage.Id == (int)childPage.Id)
                                {
                                    <li class="active">
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- /.page-left-navigation -->
                <div class="col-sm-9 page-right-content about-inner-main-cntr">
                    @RenderBody()
                    </div>
              </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
<!-- /.main -->