﻿@using System.Web.Optimization
@inherits UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Umbraco.Field("pageTitle", altFieldAlias: "pageName") | @Umbraco.Field("siteTitle", recursive: true)</title>
    <meta name="description" content="">
    <meta name="author" content="Vocus Group">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    @Styles.Render("~/bundles/css")
</head>

<body class="homepage @CurrentPage.Name" >
    <!-- Header -->
    <header>
        <div class="container main-header-cntr">
            <div class="row">
                <div class="col-md-3 col-lg-3 logo-cntr">
                    <a href="@home.Url"><img class="vocus-logo" alt="Logo" src="/images/main-logo.svg" /></a>
                </div>
                @*menu navigation begin from here*@
                @{ Html.RenderPartial("MainNavigation"); }
            </div>
        </div>
    </header>
    <!-- /Header -->

    @RenderBody()

    <!-- To Top -->
    <div class="to-top-cntr">
        <div class="container">
            <div class="row">
                <a href="#"><span>To top</span><i class="icon-arrow-up-circle"></i></a>
            </div>
        </div>
    </div>
    <!-- /To Top -->
    <!-- Footer -->
    <footer class="footer-wrap">
        <div class="container ">
            <div class="row footer-top">
                <div class="footer-logo-cntr footer-widget">
                    <a href="#"><!--<img class="vocus-footer-logo" src="@Umbraco.Media(home.FooterLogo).Url" />--> <span>Vocusgroup</span></a>
                </div>
                @*footer navigation begin here*@
                @{ Html.RenderPartial("FooterNavigation"); }          
            </div>
            <!-- /#footer-menus -->
            <div class="row footer-bottom">
                <div class="footer-copyright-cntr">
                    <div class="copyright">
                        <p>&copy; Vocus Group @DateTime.Now.Year</p>
                        <p>ABN <span>96 084 115 499</span></p>
                    </div>
                </div>
                <!-- /#footer-copyright -->
                <div class="footer-logo-list-cntr">
                    <div class="footer-img">
                        <div class="logo-list clearfix">
                            <div class="footer-logo-wrap">
                                <a href="https://www.dodo.com" target="_blank"><img class="footer-small-logo" src="/images/footer-dodo.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="http://www.iprimus.com.au" target="_blank"><img class="footer-small-logo" src="/images/footer-iprimus.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="https://www.vocus.com.au" target="_blank"><img class="footer-small-logo" src="/images/footer-vocus.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="https://www.commander.com.au" target="_blank"><img class="footer-small-logo" src="/images/footer-commander.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="http://www.engin.com.au" target="_blank"><img class="footer-small-logo" src="/images/footer-engin.png" /></a>
                            </div>
                        </div>
                        <div class="logo-list clearfix">
                            <div class="footer-logo-wrap">
                                <a href="https://www.slingshot.co.nz" target="_blank"><img class="footer-small-logo" src="/images/footer-slingshot.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="https://flip.co.nz/" target="_blank"><img class="footer-small-logo" src="/images/footer-flip.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="https://www.orcon.net.nz" target="_blank"><img class="footer-small-logo" src="/images/footer-orcon.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="https://callplus.co.nz/" target="_blank"><img class="footer-small-logo" src="/images/footer-call-plus.png" /></a>
                            </div>
                            <div class="footer-logo-wrap">
                                <a href="http://www.2talk.co.nz/" target="_blank"><img class="footer-small-logo" src="/images/footer-2call.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#footer-small-logos -->
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- Overlay container when hover menu-->
    <div class="overlay_container_menu"></div>
    <!-- / Overlay container when hover menu-->

    <!-- Overlay container when hamburger click on mobile -->
    <div class="overlay_container_menu_mobile mobile"></div>
    <!-- Overlay container when hamburger click on mobile End -->
    
    <!--Search Container-->
    <div class="search-section">
        <div class="container">
            <div>
                <a class="close-btn"><img src="~/images/close-btn.png" />Close</a>
                <form id="search-form" action="/search-results" class="input-group">
                    <input class="searchbox" name="q" type="text" placeholder="Search">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="37.112" height="37.112" viewBox="0 0 37.112 37.112" fill="#114C95">
                            <path d="M13 3c5.514 0 10 4.486 10 10s-4.486 10-10 10S3 18.514 3 13 7.486 3 13 3m0-3C5.82 0 0 5.82 0 13s5.82 13 13 13 13-5.82 13-13S20.18 0 13 0zM26.546 24.425L37.112 34.99l-2.12 2.122-10.567-10.566z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var progressBarPath;

            function getProgressBarPath() {
                if (!progressBarPath) {
                    var arrowAnimateTime = 8500;
                    progressBarPath = new ProgressBar.Path(nextArrow.querySelector('#progress-loader'), {
                        duration: arrowAnimateTime,
                    });
                }

                return progressBarPath;
            }

            var nextArrow = $('#next-arrow').get(0),
                heroSlider = $('#hero--slider');

            var waypointsHero = $('#hero-slider').waypoint(function (direction) {
                if (nextArrow && nextArrow.querySelector('#progress-loader')) {
                    var path = getProgressBarPath();
                    path.animate(1.0, function() {
                        path.set(0);
                    });
                }
                $('#hero--slider').cycle('resume');
            }, {
                offset: 'bottom-in-view'
            })
            heroSlider.on('cycle-before', function (e, opts, outgoingSlideEl, incomingSlideEl, forwardFlag) {
                if (!(heroSlider.is('.cycle-paused')) && $('#next-arrow').is(':visible')) {
                    var arrowAnimateTime = 8500;
                    if (nextArrow && nextArrow.querySelector('#progress-loader')) {
                        var path = getProgressBarPath(true);
                        path.set(0);
                        path.animate(1.0, function() {
                            path.set(0);
                        });
                    }
                }
            });

            $('body').on('addtovisit:opening', function() {
                // Reset the animation when paused.
                if (nextArrow && nextArrow.querySelector('#progress-loader')) {
                    var path = getProgressBarPath();
                    path.stop();
                    path.set(0);
                }
            });
            $('body').on('addtovisit:closed', function() {
                heroSlider.cycle('resume');
                var arrowAnimateTime = 8500;
                if (nextArrow) {
                    var path = getProgressBarPath();
                    path.stop();
                    path.set(0);
                    path.animate(1.0, function() {
                        path.set(0);
                    });
                }
            });
            // todo - See if we can get this working without causing problems on all of the non-feature slides on the site
            heroSlider.css('height', heroSlider.find('.slide.first').height()).cycle();
            setTimeout(function() {
                heroSlider.css('height', 'auto');
            }, 500);
        });
    </script>
</body>
</html>