﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MediaAndVideoPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var parentPage = (dynamic)CurrentPage.Parent;
    var parentPageName = (string)parentPage.Name;
    var mediaItems = Model.Content.Children<MediaAndVideoItem>();
}
<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@Model.Content.Name.Replace("And", "&").Replace("AND", "&").Replace("and", "&")</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr clearfix">
                <div class="col-sm-3 page-left-navigation">
                    <div class="left__nav-cntr">
                        <h3 class="small-title vocus_blue">@parentPageName.Replace("And", "&").Replace("AND", "&").Replace("and", "&")</h3>
                        <ul>
                            @foreach (var childPage in parentPage.Children.Where("showInLeftMenu"))
                            {
                                var childPageName = childPage.Name;
                                if ((int)CurrentPage.Id == (int)childPage.Id)
                                {
                                    <li class="active">
                                        <a href="@childPage.Url">@childPageName.Replace("And", "&").Replace("AND", "&").Replace("and", "&")</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@childPage.Url">@childPageName.Replace("And", "&").Replace("AND", "&").Replace("and", "&")</a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </div>
                <!-- /.page-left-navigation -->
                <div class="col-sm-9 page-right-content">
                    <div class="white-bg clearfix">
                        <div class="main__content-cntr clearfix">
                            @if (mediaItems.Any())
                            {
                                <div class="initialization media-page">
                                    <div class="row">
                                        @foreach (var group in mediaItems.InGroupsOf(3))
                                        {

                                            foreach (var item in group)
                                            {
                                                var media = Umbraco.Media(item.MediaFile);
                                                var mediaTypeText = "";
                                                if (item.MediaType != null)
                                                {
                                                    mediaTypeText = Umbraco.GetPreValueAsString(Convert.ToInt32(item.MediaType));
                                                }
                                                <div class="col-lg-4 col-md-6 col-sm-6 media-item">
                                                    <div class="gallery-item">
                                                        <div class="gallery-contents clearfix">
                                                            <div class="gallery-trigger">
                                                                @if (mediaTypeText.Equals("Image"))
                                                                {
                                                                    <div class="media-thumb-img" alt="" style="width: 100%; background-image:url('@media.Url')"></div>
                                                                }
                                                                else if (mediaTypeText.Equals("Video"))
                                                                {
                                                                    if (!string.IsNullOrEmpty(item.ThumbnailImage))
                                                                    {
                                                                        var imageOfVideo = Umbraco.Media(item.ThumbnailImage);
                                                                        <div class="media-thumb-img" alt="" style="width: 100%; background-image:url('@imageOfVideo.Url')"></div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="media-thumb-img" alt="" style="width: 100%; background-image:url('@media.Url')">
                                                                            <video>
                                                                                <source src="@media.Url" type="video/mp4">
                                                                                <source src="@media.Url" type="video/ogg">
                                                                                <source src="@media.Url" type="video/webm">
                                                                            </video>
                                                                        </div>
                                                                    }
                                                                }

                                                            </div>
                                                            <div class="news-details">
                                                                <h3 class="news-title sub-title seagull gallery-trigger">
                                                                    @item.Name
                                                                </h3>
                                                                <a href="#" class="find-info gallery-trigger">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff">
                                                                        <g>
                                                                            <path d="M0 587h1238.5v130H0z"></path>
                                                                            <path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path>
                                                                            <path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path>
                                                                        </g>
                                                                    </svg><span>Info</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- /.gallery-contents  -->
                                                        <div class="gallery-expander media-epxander-main-cntr">
                                                            <div class="gallery-expander-contents">
                                                                <div class="expandable clearfix">
                                                                    <div class="gallery-trigger-close close"><img src="/images/close-btn.png">Close</div>
                                                                    <div class="expander-container news-media-container clearfix">
                                                                        <div class="media-expand-wrapper clearfix">
                                                                            <div class="col-sm-6 media-item-cntr">
                                                                                <div class="expandable-box-img">
                                                                                    @if (mediaTypeText.Equals("Image"))
                                                                                    {
                                                                                        <div class="media-main-img">
                                                                                            <img src="@media.Url" alt="" />
                                                                                        </div>
                                                                                    }
                                                                                    else if (mediaTypeText.Equals("Video"))
                                                                                    {
                                                                                        <video controls>
                                                                                            <source src="@media.Url" type="video/mp4">
                                                                                            <source src="@media.Url" type="video/ogg">
                                                                                            <source src="@media.Url" type="video/webm">
                                                                                        </video>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 media-info-cntr">
                                                                                <div class="expandable-box-info">
                                                                                    <h3 class="sub-title white">
                                                                                        @item.Name
                                                                                    </h3>
                                                                                    <p>
                                                                                        @item.MediaDescription
                                                                                    </p>
                                                                                    @if (item.ShowDownloadButton)
                                                                                    {
                                                                                        <a download="@media.Url" href="@media.Url" class="vocus-btn white-bg btn_expandable">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff">
                                                                                                <g>
                                                                                                    <path d="M0 587h1238.5v130H0z"></path>
                                                                                                    <path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path>
                                                                                                    <path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path>
                                                                                                </g>
                                                                                            </svg><span>Download</span>

                                                                                        </a>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.gallery-expander  -->
                                                    </div>
                                                </div>
                                            }

                                        }
                                    </div>
                                </div>
                            }
                            <!-- /.  initialization  -->
                            <!-- /.main__content-cntr -->
                        </div>



                        <!-- /.main__content-cntr -->
                    </div>
                    <!-- /.page__main-content -->
                </div>
                <!-- /.page-right-navigation -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
