﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsItem>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var parentPage = (dynamic)CurrentPage.Parent;
    var content = Umbraco.Content(CurrentPage.Id);
}

<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@parentPage.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
                        <section class="page-content-cntr clearfix">
                            <div class="col-sm-3 page-left-navigation">
                                <div class="left__nav-cntr">
                                    <h3 class="small-title vocus_blue">News &amp; Media</h3>
                                    <ul>
                                        <li class="active">
                                            <a href="/news-and-media/news">News</a>
                                        </li>
                                        <li>
                                            <a href="/news-and-media/media-and-video">Media</a>
                                        </li>                                       
                                    </ul>
                                </div>
                            </div>
                            <!-- /.page-left-navigation -->
                            <div class="col-sm-9 page-right-content">
                                <div class="page__main-content">
                                    <div class="main__content-cntr clearfix">
                                        <div class="content__left">
                                            <div class="main-content">
                                                <h3 class="small-title news-small-title">
                                                    <a href="@parentPage.url">
                                                        <i class="icon-arrow-right-circle seagull"></i>
                                                        <span>All News</span>
                                                    </a>
                                                </h3>
                                                <h4 class="small-title news-date">@String.Format("{0:MMM dd, yyyy}", @Model.Content.NewsDate)</h4>
                                                <h4 class="sub-title seagull">@Model.Content.Name</h4>
                                                <p>
                                                    @Model.Content.NewsContent
                                                </p>
                                                <div class="news-page-list">
                                                    <div class="links-list-cntr links-list__horizontal">
                                                            @if (Model.Content.PdfLinkFile.Fieldsets.Count() != 0)
                                                                {
                                                                    { Html.RenderPartial("PdfLink", Model.Content.PdfLinkFile); }
                                                                }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.content__left -->
                                        <div class="content__right">
                                            @if (Model.Content.RelatedLink != null)
                                            {
                                                <div class="related-content-cntr">
                                                    <h3 class="small-title maximum_blue_green">Related content</h3>
                                                    <div class="related__links">
                                                        <ul>

                                                            @foreach (var link in Model.Content.RelatedLink.ToObject<List<dynamic>>())
                                                            {
                                                                <li>
                                                                    <a target="@(link.newWindow.Value ? "_blank" : "")" class="vocus-btn maximum_blue_green_bg btn__related-content" href="@link.link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff"><g><path d="M0 587h1238.5v130H0z"></path><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path></g></svg> <span>@link.caption</span></a>
                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>
                                            <!-- /.related-content-cntr -->
                                            }
                                        </div>
                                        <!-- /.content__right -->
                                    </div>
                                    <!-- /.main__content-cntr -->
                                </div>
                                <!-- /.page__main-content -->
                            </div>
                            <!-- /.page-left-navigation -->
                        </section>
                        <!-- /.page-content-cntr -->
                    </div>
                </div>
            </main>
            <!-- /.main -->
