﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var parentPage = (dynamic)CurrentPage.Parent;
    var indvNewsDetails = Model.Content.Children<NewsItem>().GroupBy(m => new { m.NewsDate.Year }).OrderByDescending(m => m.Key.Year).ToList();
}
<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@Model.Content.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr clearfix">
                <div class="col-sm-3 page-left-navigation">
                    <div class="left__nav-cntr">
                        <h3 class="small-title vocus_blue">@parentPage.Name</h3>
                        <ul>
                            @foreach (var childPage in parentPage.Children.Where("showInLeftMenu"))
                            {
                                if ((int)CurrentPage.Id == (int)childPage.Id)
                                {
                                    <li class="active">
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </div>
                <!-- /.page-left-navigation -->

                <div class="col-sm-9 page-right-content">
                    <div class="page__main-content">
                        <div class="main__content-cntr clearfix">
                            <div class="content__left">
                                <div class="main-content accordion-wrap news">
                                    @foreach (var itm in indvNewsDetails)
                                    {
                                        <button class="accordion page-title seagull">@itm.Key.Year</button>
                                        <div class="panel">
                                            <div class="margin-bottom-70">
                                                <div class="links-list-cntr links-list__horizontal">
                                                    <ul>
                                                        @foreach (var item in itm.OrderByDescending(m => m.NewsDate).ToList())
                                                        {
                                                            <li>
                                                                <div class="link-item">
                                                                    <a href="@item.Url">
                                                                        <span class="link-small">@item.Name</span>
                                                                        <span class="year-date-text">@String.Format("{0:MMM dd, yyyy}", @item.NewsDate)</span>
                                                                        <i class="icon-arrow-right-circle seagull link-list-icon"></i>
                                                                    </a>
                                                                </div>
                                                            </li>
                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                            <!-- /.content__left -->
                            <div class="content__right">
                                @if (Model.Content.RelatedLinks != null)
                                {
                                    <div class="related-content-cntr">
                                        @{ Html.RenderPartial("RelatedLink", Model.Content.RelatedLinks.ToObject<List<dynamic>>()); }
                                    </div>
                                <!-- /.related-content-cntr -->
                                            }
                            </div>
                            <!-- /.content__right -->
                        </div>

                        <!-- /.main__content-cntr -->
                    </div>
                    <!-- /.page__main-content -->
                </div>
                <!-- /.page-left-navigation -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
