﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.OurBrands>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var indvCategoryDetails = Model.Content.Children<BrandItems>().GroupBy(m => new { m.BrandCategory, m.Network }).ToList();
}

<main class="main main-cntr">

    <div class="container">
        <div class="row">
            <div class="page-top-cntr">
                <h1 class="page__title vocus_blue">@Model.Content.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </div>
        </div>
    </div>
        <section class="brand-section">
            <div class="container">
                <div class="col-md-12">
                    @foreach (var itm in indvCategoryDetails)
            {
                var item = itm.FirstOrDefault();
                        <div class="brands">
                            <div class="brands-desc">
                                <h5>@item.BrandCategory</h5>
                                <h5 class="sub-title">@item.Network</h5>
                            </div>
                            <div class="right-content-brands">
                                @foreach (var childItem in itm)
                                {
                                    var image = Umbraco.Media(childItem.BrandImage);

                                    <div class="brand-thumbnails  gallery-item">
                                        <div class="brand-summary">
                                            <div class="gallery-contents">
                                                <a href="#" class="brand-thumbs gallery-trigger" style="background-image:url(@image.Url);background-color:#@childItem.BackgroundColour">
                                                </a>
                                                <div class="heading-info">
                                                    <h5 class="sub-title gallery-trigger">@childItem.Name</h5>
                                                    <p class="gallery-trigger">@childItem.BrandShortDescription</p>
                                                    <a href="#" class="info-arrow gallery-trigger">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#84d0ed"><g><path d="M0 587h1238.5v130H0z"></path><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path></g></svg>
                                                        info
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gallery-expander brand-expander-main-cntr">
                                                <div class="gallery-expander-contents">
                                                    <div class="clearfix" style="background-color:#@childItem.BackgroundColour">
                                                        <div class="gallery-trigger-close close"><img src="/images/close-btn.png">Close</div>
                                                        <div class="expander-container">
                                                            <div class="brand-expand-wrapper">
                                                                <div class="col-md-6 brand-logo">
                                                                    <img src="@image.Url" alt="" />
                                                                </div>
                                                                <div class="col-md-6 brand-desc-cntr">
                                                                    <p>@childItem.BrandLongDescription</p>
                                                                    <a href="@childItem.BrandUrl"  target="@(childItem.OpenInNewWindow ? "_blank" : "")" style="color:#@childItem.BackgroundColour" class="vocus-btn btn__find-out"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" style="fill:#@childItem.BackgroundColour;"><g><path d="M0 587h1238.5v130H0z"></path><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path></g></svg><span>Visit @childItem.Name</span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                }
                            </div>
                        </div>

                    }

                </div>
            </div>
        </section>
</main>