﻿@inherits UmbracoTemplatePage<ContentModels.ReportContentPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var parentPage = Model.Content.Parent;
    var content = Umbraco.Content(CurrentPage.Id);
}

<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@Model.Content.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr clearfix">
                <div class="col-sm-3 page-left-navigation">
                    <div class="left__nav-cntr">
                        <h3 class="small-title vocus_blue">Sustainability</h3>
                        <ul>
                            @foreach (var childPage in parentPage.Children.Where("showInLeftMenu"))
                            {
                                if ((int)CurrentPage.Id == (int)childPage.Id)
                                {
                                    <li class="active">
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@childPage.Url">@childPage.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- /.page-left-navigation -->
                <div class="col-sm-9 page-right-content">
                    <div class="page__main-content">
                        <div class="main__content-cntr clearfix">
                            <div class="content__left">
                                <div class="main-content">
                                    @Umbraco.Field("content", recursive: true)
                                    <div class="links-list-cntr links-list__horizontal">
                                        @if (Model.Content.PdfLink.Fieldsets.Count() != 0)
                                        {
                                            { Html.RenderPartial("PdfLink", Model.Content.PdfLink); }
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- /.content__left -->
                            <div class="content__right">
                                @if (Model.Content.RelatedLink != null)
                                {
                                    <div class="related-content-cntr">
                                        @{ Html.RenderPartial("RelatedLink", Model.Content.RelatedLink.ToObject<List<dynamic>>()); }
                                    </div>
                                            }
                                <!-- /.related-content-cntr -->
                            </div>
                            <!-- /.content__right -->
                        </div>
                        <!-- /.main__content-cntr -->
                    </div>
                    <!-- /.page__main-content -->
                </div>
                <!-- /.page-left-navigation -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
<!-- /.main -->