﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SearchResultPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@using Examine
@{
    Layout = "MasterLayout.cshtml";
    const int PageSize = 5;
}
@{
    //Get search query
    var q = Request.QueryString["q"];
    int page = string.IsNullOrEmpty(Request.QueryString["p"]) ? 1 : int.Parse(Request.QueryString["p"]);
    //Check if searchQuery is null from the posted form data...
    if (q == null)
    {
        //If it is null then the form was not posted and the page was visited directly
        //Stop all other code running in this Macro
        return;
    }
    var q_split = q.Split(' ');
    //Fetching our SearchProvider by giving it the name of our searchprovider
    var criteria = ExamineManager.Instance
                .SearchProviderCollection["ExternalSearcher"]
                .CreateSearchCriteria(UmbracoExamine.IndexTypes.Content);

    var filter = criteria
        .GroupedOr(new string[] { "nodeName", "bodyContent", "content", "contents", "descriptionContent", "aboutDescription" }, q)
        .Not()
        .Field("umbracoNaviHide", "1").Not().Field("nodeTypeAlias", "sustainabilityReportMenu")
        .Compile();
    var searchResults = ExamineManager.Instance
         .SearchProviderCollection["ExternalSearcher"]
         .Search(filter);
    //var searchResults = Searcher.Search(q, true).OrderByDescending(x => x.Score).TakeWhile(x => x.Score > 0.05f);
    var count = searchResults.Count();
    var pagedSearchResult = searchResults.Skip((page - 1) * PageSize).Take(PageSize).ToList();
    int totalPage = (int)Math.Ceiling(Convert.ToDecimal(count) / Convert.ToDecimal(PageSize));

}

<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@Model.Content.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
            </section>
            <!-- /page-top-cntr -->
            <section class="page-content-cntr search-result-cntr clearfix">
                <div class="investor-main-content search-main-content search-result">
                    <div class="search-left">
                        <h5 class="search-heading sub-title seagull">@count search results for <span class="search-keyword">&quot;@q&quot;</span></h5>
                        @foreach (var result in pagedSearchResult)
                        {
                            if (result.Fields.ContainsKey("taglineTitle"))
                            {
                                var title = result.Fields["taglineTitle"];
                                var description = result.Fields["taglineDescription"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(result.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }

                            else if (result.Fields.ContainsKey("descriptionContent"))
                            {
                                var title = result.Fields["nodeName"];
                                var description = result.Fields["descriptionContent"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(result.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }
                            else if (result.Fields.ContainsKey("bodyContent"))
                            {
                                var title = result.Fields["nodeName"];
                                var description = result.Fields["bodyContent"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(result.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }
                            else if (result.Fields.ContainsKey("content"))
                            {
                                var title = result.Fields["nodeName"];
                                var description = result.Fields["content"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(result.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }
                            else if (result.Fields.ContainsKey("newsContent"))
                            {
                                var title = result.Fields["nodeName"];
                                var description = result.Fields["newsContent"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(result.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }
                            else if (result.Fields.ContainsKey("brandLongDescription"))
                            {
                                var title = result.Fields["nodeName"];
                                var parentNodeId = Umbraco.TypedContent(result.Id);
                                var description = result.Fields["brandLongDescription"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(parentNodeId.Parent.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }
                            else if (result.Fields.ContainsKey("aboutDescription"))
                            {
                                var title = result.Fields["nodeName"];
                                var parentNodeId = Umbraco.TypedContent(result.Id);
                                var description = result.Fields["aboutDescription"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(parentNodeId.Parent.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }
                            else if (result.Fields.ContainsKey("mediaDescription"))
                            {
                                var title = result.Fields["nodeName"];
                                var parentNodeId = Umbraco.TypedContent(result.Id);
                                var description = result.Fields["mediaDescription"];
                                <div class="search-content">
                                    <h5><a href="@library.NiceUrl(parentNodeId.Parent.Id)">@title</a></h5>
                                    <p>@Umbraco.Truncate(description, 395, true)</p>
                                </div>
                            }
                            else
                            {
                                <div class="search-content">
                                    <h5> <a href="@Umbraco.NiceUrl(result.Id)">@result.Fields["nodeName"]</a></h5>
                                    <p></p>
                                </div>
                            }
                        }
                    </div>
                    @if (totalPage > 1)
                    {
                        <div class="search-pagination">
                            <ul>
                                @for (int i = 1; i <= totalPage; i++)
                                {
                                    <li class="@(page == i ? "active" : "")"><a href="@string.Format("/search-results?q={0}&p={1}", q, i)">@i</a></li>
                                }

                            </ul>
                        </div>
                    }
                </div>
                <!-- /.search-main-content -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
    <!-- /.page__breadcrumb -->


</main>