﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SharePricePage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "LeftMenuPageLayout.cshtml";
    var parentPage = Model.Content.Parent;
    var content = Umbraco.Content(CurrentPage.Id);
}


<div class="page__main-content">
    <div class="main__content-cntr clearfix">
        <div class="content__left">
            <div class="main-content">
                <div class="share-price-main-cntr">
                    <h2 class="sub-title maximum_blue_green">@Model.Content.Title</h2>
                    @if (Model.Content.ExchangeOne != "Error in extracting data.")
                    {
                       
                        <div class="price__list-cntr">
                            <ul class="price__items-list">
                                <li class="price__item">
                                    <span class="price__title">
                                        Exchange
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.ExchangeOne ( @Model.Content.ExchangeTwo)
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Price
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.Price
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Change (%)
                                    </span>
                                    @if (Model.Content.Change.Contains("-"))
                                    {
                                <span class="price__amount change-price-cntr price-down">
                                    <span class="triangle-down"></span>
                                    @Model.Content.Change (@Model.Content.ChangePercent)
                                </span>
                                    }
                                    else
                                    {
                                <span class="price__amount change-price-cntr price-up">
                                    <span class="triangle-up"></span>
                                    @Model.Content.Change (@Model.Content.ChangePercent)
                                </span>
                                    }
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Volume
                                    </span>
                                    <span class="price__amount pricevolume">
                                        @Model.Content.Volume
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Today's Open
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.TodaysOpen
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Previous Close
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.PreviousClose
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Bid
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.Bid
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Ask
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.Ask
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Intraday High
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.IntradayHigh
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        Intraday Low
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.IntradayLow
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        52 Week High
                                    </span>
                                    <span class="price__amount">
                                        A$@Model.Content.FiftyTwoWeekHigh
                                    </span>
                                </li>
                                <li class="price__item">
                                    <span class="price__title">
                                        52 Week Low
                                    </span>
                                    <span class="price__amount">
                                        @Model.Content.CurrencyType@Model.Content.FiftyTwoWeekLow
                                    </span>
                                </li>
                            </ul>
                            <div class="data-info-cntr">
                                <span>Data as of @Model.Content.DataAsOf</span>
                                <span>Minimum 15 minutes delay</span>
                                <span>@Html.ActionLink("Refresh quote", "Index", "SharePricePage",new { @style= "color:#57585a" })</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h2 class="sub-title maximum_blue_green">VOC.AX</h2>
                        <div class="share-detail-cntr">
                            <div class="share__note-info">
                                <span>Please try again later. The data is not available from server.</span>
                            </div>
                        </div>
                    }
                    <!-- /.price__list-cntr -->
                        <div class="nasdaq-chart-cntr">
                            <div class="chart-detail" >
                                <iframe style="width:100%;height:100%" src="http://api.nasdaqomx.wallst.com/AdvancedChart?symbol=VOC.AX-Vocus"> </iframe>
                            </div>
                            <span>Data provided by Nasdaq. Minimum 15 minutes delayed</span>
                        </div>
                    <!-- nasdaq-chart-cntr -->
                                </div>
                            </div>
                        </div>
        <!-- /.content__left -->
                        <div class="content__right">
                            @if (Model.Content.RelatedContent != null)
                            {

                                <div class="related-content-cntr">
                                    <h3 class="small-title maximum_blue_green">Related content</h3>
                                    <div class="related__links">
                                        <ul>
                                            @foreach (var link in Model.Content.RelatedContent.ToObject<List<dynamic>>())
                                            {
                                                <li>
                                                    <a class="vocus-btn maximum_blue_green_bg btn__related-content" href="@link.link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff"><g><path d="M0 587h1238.5v130H0z"></path><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path></g></svg> <span>@link.caption</span></a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            <!-- /.related-content-cntr -->
                        </div>
        <!-- /.content__right -->
                                </div>
                            </div>