﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = VocusGroup.site.Models.Generated.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
}

<main class="main main-cntr">
    <div class="container">
        <div class="row">
            <section class="page-top-cntr">
                <h1 class="page__title vocus_blue">@Model.Content.Name</h1>
                @{ Html.RenderPartial("BreadcrumbNavigation"); }
                <!-- /.page__breadcrumb -->
            </section>
            <!-- /.page-top-cntr -->
            <section class="page-content-cntr privacy-statement-cntr clearfix">
                <div class="investor-main-content privacy-main-content">
                    <h2 class="sub-title__big">Privacy Statement</h2>
                    <div class="privacy-content">
                        <p>
                            @Html.Raw(@Model.Content.BodyContent)
                        </p>
                    </div>
                </div>
                <!-- /.privacy-main-content -->
            </section>
            <!-- /.page-content-cntr -->
        </div>
    </div>
</main>
<!-- /.main -->