﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@*
    This snippet makes a breadcrumb of parents using an unordered html list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = CurrentPage.Ancestors(); }

@if (selection.Any())
{
    <div class="page__breadcrumb">
        <ul>
            @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
            @foreach (var item in selection.OrderBy("Level"))
            {
                var documentTypeAlias = (string)item.DocumentTypeAlias;
                if (!documentTypeAlias.ToUpper().Contains("MENU"))
                {
                    <li><a href="@item.Url">@item.Name</a></li>
                }
                else
                {
                    if (item.DocumentTypeAlias != "newsAndMediaMenu")/*do not print news and media in breadcrumb*/
                    {
                    <li><a href="#">@item.Name</a></li>
                    }
                }
            }

            <li class="active"><a href="#">@CurrentPage.Name</a></li>
        </ul>
    </div>

}
