﻿@inherits UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@{
    var homePage = CurrentPage.Site();
}
@foreach (var fieldset in homePage.GetPropertyValue<Archetype.Models.ArchetypeModel>("footerMenu"))
{

    <div class="footer-widget">
        @{
            var menuItems = fieldset.GetValue<JArray>("menuLinks");
        }
        <ul>
            @foreach (var link in menuItems)
            {
            <li><a href="@(link.Value<string>("link"))">@(link.Value<string>("caption"))</a></li>
            }
        </ul>
    </div>
}