﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }
@if (home.Children<Menu>().Any())
{
    @* Get the first page in the children *@
var naviLevel = home.Children<Menu>().First().Level;
    @* Add in level for a CSS hook *@
    <div class="col-md-9 col-lg-9 text-right navigation-cntr">
        @{ Html.RenderPartial("TopNavigation"); }
        <span class="header-icons-cntr vocus-search">
            <a href="#" class="search-icon"><span>Search</span><img src="/images/search-icon.svg" /></a>
            <div class="mobile mobile-hamburger">
                <a href="#" class="hamburger-icon">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </a>
            </div>
        </span>
        <div>
            <ul class="navbar-bold level-@naviLevel">
                @* For each child page under the home node *@
                @foreach (var childPage in home.Children)
                {
                    var childUrl = childPage.Url;
                    if (childPage.showInMenu)
                    {
                        if (childPage.Children.Any())
                        {
                            var documentTypeAlias = (string)childPage.DocumentTypeAlias;
                            childUrl = childUrl == "/sustainability/" ? "/sustainability/sustainability-report/" : childUrl;
                            <li class="has-child">
                                <a href="@childUrl"><span>@childPage.Name</span></a>
                                @if (!documentTypeAlias.ToUpper().Equals("OURBRANDS"))
                            {

                                    <div class="nav-dropdown">
                                        @if (childPage.hasImage)
                                        {
                                            <div class="mega-menu-content @documentTypeAlias">
                                                <div class="drop__annual-report">
                                                    <div class="report-content">
                                                        <p class="small-title">@childPage.reportTitle</p>
                                                        <div>
                                                            @{
                                                                var reportImage = Umbraco.Media(childPage.reportImage);
                                                                var reportFile = Umbraco.Media(childPage.reportFile);
                                                            }
                                                            <img src="@reportImage.Url" />

                                                            <a href="@reportFile.Url" target="_blank"  class="vocus-btn vocus_blue_bg btn__report"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff"><g><path d="M0 587h1238.5v130H0z"></path><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path></g></svg><span>@childPage.reportTitle</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="drop__child-links">
                                                    @if (documentTypeAlias.ToUpper().Equals("INVESTORSMAINPAGE"))
                                                    {
                                                        <span><a href="@childUrl">Investor Center</a></span>
                                                    }
                                                    @childPages(childPage.Children)
                                                </div>
                                            </div>
                                                                }
                                                                else
                                                                {
                                                                    @childPages(childPage.Children)
                                                                }

                                    </div>
                                                                }

                            </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a href="@childUrl">@childPage.Name</a>
                                                                    </li>
                                                                        }
                                                                    }
                                                                }
            </ul>
        </div>


    </div>
                                                                }

@helper childPages(dynamic pages)
{
    @* Ensure that we have a collection of pages *@
if (pages.Any())
{
    @* Get the first page in pages and get the level *@
var naviLevel = pages.First().Level;
    @* Add in level for a CSS hook *@
    <ul class="sublevel level-@(naviLevel)">
        @foreach (var page in pages)
        {
            if (page.showInMenu)
            {
                <li class="@(page.Children.Any() ? "child-nav-column" : "")">
                    @if (page.documentTypeAlias.ToUpper().Contains("MENU"))
                    {
                        <a>@page.Name</a>
                    }
                    else
                    {
                        <a href="@page.Url">@page.Name</a>
                    }

                    @* if the current page has any children *@
                    @if (page.Children.Any())
                    {
                        @childPages(page.Children)
                    }
                </li>
            }
        }
    </ul>
}
}