﻿@inherits UmbracoViewPage<dynamic>
@{
    var archeModelData = (Archetype.Models.ArchetypeModel)Model;
    var groupedResult = archeModelData.GroupBy(xx =>( xx.GetValue<DateTime>("Date").Year)).OrderByDescending(m=>m.Key);
}
<div class="main-content accordion-wrap">

        @foreach (var group in groupedResult)
        {
           <button class="accordion page-title moss">@group.Key</button>
            <div class="panel">
                @foreach (var fieldset in group)
                {
                <div class="mb-70">
                    <h2 class="sub-title moss">@Html.Raw(fieldset.GetValue<string>("title"))</h2>
                    <p>@Html.Raw(fieldset.GetValue("description"))</p>
                    <div class="links-list-cntr links-list__horizontal">
                        @if (fieldset.GetValue<Archetype.Models.ArchetypeModel>("fileToUpload") != null)
                        {
                            <ul>
                                @foreach (var itm in fieldset.GetValue<Archetype.Models.ArchetypeModel>("fileToUpload"))
                                {
                                    bool isShowDate = Convert.ToBoolean(fieldset.GetValue<bool>("showDate"));
                                    var prop = @Umbraco.Media(itm.GetValue("fileContent"));
                                    //var dateNew = Convert.ToDateTime(@Umbraco.Media(itm.GetValue("fileContent")).CreateDate);
                                    //var formattedDate = String.Format("{0:MMM dd, yyyy}", dateNew);
                                    //var formattedDate = @Umbraco.Media(itm.GetValue("fileContent")).Id != 0 ? String.Format("{0:MMM dd, yyyy}",Convert.ToDateTime(@Umbraco.Media(itm.GetValue("fileContent")).CreateDate)) : "";
                                    <li>
                                        @{
                                            bool hasExternalLink = itm.GetValue<bool>("isExternalUrl");
                                            string externalUrlLink = itm.GetValue<string>("urlLink");
                                            string mediaFileUrl = Umbraco.Media(itm.GetValue("fileContent")).url;
                                            string fileTitleText = itm.GetValue<string>("textContent");
                                            string SelectedFileType = itm.GetValue<string>("fileType");
                                            string CTAButtonText = itm.GetValue<string>("fileDisplayName");
                                            string fileDate = itm.GetValue<string>("fileDate");
                                            var formattedDate = fileDate != null ? String.Format("{0:MMM dd, yyyy}", Convert.ToDateTime(fileDate)) : "";
                                        }
                                        <div class="link-item">
                                            <a href="@(hasExternalLink ? externalUrlLink : mediaFileUrl)" target="_blank">
                                                <span class="link-small moss">@Html.Raw(fileTitleText)</span>
                                                <span class="pdf-text">
                                                        @if (isShowDate)
                                                        {
                                                            <span class="date-text">@formattedDate</span>
                                                        }
                                                    <span class="pdf-download">
                                                        @if (!string.IsNullOrEmpty(CTAButtonText))
                                                        {
                                                            <text>@CTAButtonText</text>
                                                        }
                                                        else
                                                        {
                                                            @(string.IsNullOrEmpty(SelectedFileType) || SelectedFileType == "PDF" ? "PDF DOWNLOAD" : "LISTEN TO THE WEBCAST" )

                                                        }
                                                    </span>
                                                    @if (SelectedFileType == "PDF")
                                                    {
                                                    <span class="file-size">(@Html.Raw(prop.GetPropertyValue<int>("umbracoBytes")) KB)</span>
                                                    }
                                                </span>
                                                <span class="icon-arrow-@(string.IsNullOrEmpty(SelectedFileType) || SelectedFileType=="PDF" ? "down" :"right")-circle seagull link-list-icon"></span>
                                            </a>
                                        </div>
                                    </li>
                                      }
                            </ul>
                          }
                    </div>
                </div>
                }
            </div>

        }
</div>