﻿@inherits UmbracoViewPage<dynamic>
<div class="links-list-cntr">
    <ul>
        @foreach (var fieldset in (Archetype.Models.ArchetypeModel)Model)
        {
            var prop = Umbraco.Media(fieldset.GetValue("fileContent"));
            bool hasExternalLink = fieldset.GetValue<bool>("isExternalUrl");
            string externalUrlLink = fieldset.GetValue<string>("urlLink");
            string mediaFileUrl = Umbraco.Media(fieldset.GetValue("fileContent")).url;
            string fileTitleText = fieldset.GetValue<string>("textContent");
            string SelectedFileType = fieldset.GetValue<string>("fileType");
            string CTAButtonText = fieldset.GetValue<string>("fileDisplayName");
            <li>
                <div class="link-item">
                    <a href="@(hasExternalLink ? externalUrlLink : mediaFileUrl)" target="_blank">
                        <span class="link-small">@Html.Raw(fileTitleText)</span>
                        <span class="pdf-text">

                            @if (!string.IsNullOrEmpty(CTAButtonText))
                            {
                                <text>@CTAButtonText</text>
                            }
                            else
                            {
                                @(string.IsNullOrEmpty(SelectedFileType) || SelectedFileType == "PDF" ? "PDF DOWNLOAD" : "LISTEN TO THE WEBCAST" )
                            }
                            @if (SelectedFileType == "PDF")
                            {
                                <span class="file-size">(@Html.Raw(prop.GetPropertyValue<int>("umbracoBytes")) KB)</span>
                            }
                        </span>
                        <span class="icon-arrow-@(string.IsNullOrEmpty(SelectedFileType) || SelectedFileType=="PDF" ? "down" :"right")-circle seagull link-list-icon"></span>
                    </a>
                </div>
            </li>
        }
    </ul>
</div>