﻿@inherits UmbracoViewPage<dynamic>
<h3 class="small-title maximum_blue_green">Related content</h3>
<div class="related__links">
    <ul>
            @foreach (var link in Model)
            {
                <li>
                    <a target="@(link.newWindow.Value ? "_blank" : "")" class="vocus-btn maximum_blue_green_bg btn__related-content" href="@link.link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1304 1304" fill="#fff"><g><path d="M0 587h1238.5v130H0z"></path><path d="M1209.167 745.167L557.977 89.365 651 .5l653 651.333"></path><path d="M1304 651.833L652.5 1304.5 560 1212l648.5-655"></path></g></svg> <span>@link.caption</span></a>
                </li>
            }   
    </ul>
</div>