﻿@inherits UmbracoTemplatePage
@{
    var homePage = CurrentPage.Site();
}
<ul class="navbar-light">
 @if (homePage.TopMenu != null)
 {
     foreach (var link in homePage.TopMenu.ToObject<List<dynamic>>())
     {
        <li>
            <a href="@link.link" target="@(link.newWindow.Value ? "_blank" : "")">@link.caption</a>
        </li>
     }
 }
</ul>


@*@foreach (var childPage in menuItems)
    {
        string childDocumentTypeAlias = (string)childPage.DocumentTypeAlias;
        if (childPage.showInTopMenu && !childDocumentTypeAlias.Contains("Menu"))
        {
            <text><li data-menu-level="@childPage.level"><a href="@childPage.Url">@childPage.Name</a></li></text>
        }
        if (childPage.Children.Any())
        {
            foreach (var grandChild in childPage.Children)
            {
                string grandChildDocumentTypeAlias = (string)grandChild.DocumentTypeAlias;
                if (grandChild.showInTopMenu && !grandChildDocumentTypeAlias.Contains("Menu"))
                {
                   <text><li data-menu-level="@grandChild.level"><a href="@grandChild.Url">@grandChild.Name</a></li></text>
                 }
            }
        }

    }*@